@charset "utf-8";
/* CSS Document by jacy use in weisite */
.container{ background:none}
header{ text-align:center}
.banner{ width:100%; overflow:hidden; position:relative;}
.banner ul{ position:absolute; left:0; top:0; z-index:10; margin:0;}
.banner ul li{ float:left; display:table-cell; position:relative}
.banner li a{ width:100%; height:100%; display:block;}
.banner li .title{background-color:RGBA(0,0,0,.5); height:30px; color:#fff; line-height:30px; padding-left:10px; position:absolute; left:0; bottom:0; width:100%; z-index:1000;}
.identify{text-align:left; position:absolute; bottom:0; right:0; z-index:100;height:30px;}
.identify em{ display:inline-block; margin:10px;-webkit-border-radius: 6px;-moz-border-radius: 6px;
border-radius: 6px;margin-left: 5px;width: 12px;height: 12px;background: #fff;}
.identify em.cur{ background-color:#e32f0c}
.identify span.pointer{ float:right; margin-right:10px;}
.identify span.title{ margin-left:10px; line-height:30px; color:#fff}
.icon_lists{ text-align:center; margin:10px 0}
.icon_lists .item{ width:33.3%; float:left; color:#fff}
.icon_lists .item .icon{ margin:10px auto; display:block; padding:10px; width:60px; height:60px; border-radius:50px; overflow:hidden; font-size:13px; white-space:nowrap; overflow:hidden}
.icon_lists .item img{ width:30px; height:30px;}