{extend name="common@base/common" /}
{block name="body"}
  <div class="span9 page_message">
    <section id="contents">
      {include file="common@base/_nav" /}
      <div class="tab-content"> 
        <!-- 表单 -->
        {php} isset($post_url) || $post_url = U('add?model='.$model['id'], $get_param);{/php}
        <form id="form" action="{$post_url}" method="post" class="form-horizontal form-center">
          <!-- 基础文档模型 -->
          {volist name=":parse_config_attr($model['field_group'])" id="group"}
            <div id="tab{$key}" class="tab-pane {eq name="key" value="1"}in
              {/eq}
              tab{$key}">
              {volist name="fields" id="field"}
                {if condition="$field['is_show'] == 4"}
                  <input type="hidden" class="text input-large" name="{$field.name}" value="{:I($field['name'], $field['value'])}">
                {/if}
                {if condition="$field['is_show'] == 1 || $field['is_show'] == 2 || ($field['is_show'] == 5 && I($field['name']))"}
                  <div class="form-item cf toggle-{$field.name}">
                    <label class="item-label">
                    {notempty name="field.is_must"}<span class="need_flag">*</span>{/notempty}
                    {$field['title']}
                    <span class="check-tips">
                      （支持xls,xlsx两种格式{notempty name="import_template"}，导入的模板可点击<a href="__STATIC__/import_template/{$import_template}">这里下载</a>{/notempty}）
                      </span></label>
                    <div class="controls">
                      {switch name="field.type"}
                        {case value="file"}
                          <div class="col-sm-8 upload_file" rel="{$field.name}" style="padding-left:0">
                          	<div id='upload_file_{$field.name}' class='uploadrow_file'></div>
                        	<input type="hidden" name="{$field.name}" value="{$data[$field['name']]|default=''}" data-fileexts="{$field['validate_file_exts']|default=''}" data-maxsize="{$field['validate_file_size']}"/>
                        	
<!--                             <input type="file" id="upload_file_{$field.name}"> -->
<!--                             <input type="hidden" name="{$field.name}" value="{$data[$field['name']]|default=''}"/> -->
                            <div class="upload-img-box">
                              {notempty name="data[$field['name']]"}
                                <div class="upload-pre-file"><span class="upload_icon_all"></span>{$data[$field['name']]|get_table_field=###,'id','name','File'}</div>
                              {/notempty}
                            </div>
                          </div>
                              

                        {/case}
                        {default /}
                        <input type="text" class="text input-large" name="{$field.name}" value="{:I($field['name'], $field['value'])}">
                      {/switch}
                    </div>
                  </div>
                {/if}
              {/volist}
          {/volist}
          <div class="form-item cf">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">导 入</button>
             </div>
             
        </form>
        </div>
        {include file="common@base/weixinPreview" /}
      </div>
    </section>
  </div>
{/block}
{block name="script"}

<script type="text/javascript">
$('#submit').click(function(){
    $('#form').submit();
});
$(function() {
    initUploadFile();
});
</script> 
{/block}