@charset "utf-8";
/* CSS Document by jacy use in weisite */
.bottom_nav_blank{ height:50px; width:100%;}
.bottom_nav{ height:50px; width:100%; background:#c50303; display:block; position:fixed; bottom:0; left:0; right:0; z-index:1000;}
.bottom_nav .nav{display:-webkit-box; height:50px; float:left;}
.bottom_nav .mail{ width:60px; height:50px; float:left; padding:0; text-align:left; background:url(mail.png) no-repeat center center; background-size:40px 40px; display:block;}
.bottom_nav .item{ color:#fff; display:block; padding:0;text-align:center; -webkit-box-flex:1;line-height:50px; font-size:14px; border-left:1px solid #fff;}
.bottom_nav .item img{ display:none}
.bottom_nav .item.cur{ background-color:#fff; color:#c50303}
.bottom_nav .has_nav{ position:relative;}
.more_nav{ position:absolute; right:5%; left:5%;bottom:60px; width:90%; height:auto; background:#2e393f; display:none;}
.more_nav em{ width:10px; height:10px; background:#2e393f; position:absolute; left:50%; margin-left:-5px; bottom:-3px; -webkit-transform:rotate(45deg);}
.bottom_nav .more_nav a{ padding:0; line-height:40px; font-size:14px; border-bottom:1px solid #555}