{extend name="publics/base" /}
{block name="body"}
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>微信接口节点管理</h2>
	</div>


	<!-- 数据列表 -->
	<div class="data-table table-striped">
	<table>
    <thead>
        <tr>
		<th>节点名称</th>
        <th>接口名称</th>

		</tr>
    </thead>
    <tbody>
		{notempty name="_list"}
		{volist name="_list" id="vo"}
		<tr>
			<td><a href="{:U('Rule/editRule?id='.$vo['id'])}">{$vo.name}</a> </td>
            <td>{$vo.title}</td>
		</tr>
		{/volist}
		{else/}
		<td colspan="7" class="text-center"> aOh! 暂时还没有内容! </td>
		{/notempty}
	</tbody>
    </table>

	</div>
    <div class="page">
        {$_page|raw}
    </div>
{/block}
