<script type="text/ng-template" id="widget-header-display.html">
	{include file="shop@diy_template/header"/}
</script>
<script type="text/ng-template" id="widget-richtext-display.html">
	{include file="shop@diy_template/richtext"/}
</script>
<script type="text/ng-template" id="widget-goods-display.html">
	{include file="shop@diy_template/goods"/}
</script>
<script type="text/ng-template" id="widget-mutipic_goods-display.html">
  {include file="shop@diy_template/mutipic_goods"/}
</script>
<script type="text/ng-template" id="widget-banner-display.html">
	{include file="shop@diy_template/banner"/}
</script>
<script type="text/ng-template" id="widget-mutipic_banner-display.html">
	{include file="shop@diy_template/mutipic_banner"/}
</script>
<script type="text/ng-template" id="widget-piclist-display.html">
	{include file="shop@diy_template/piclist"/}
</script>
<script type="text/ng-template" id="widget-blank-display.html">
	{include file="shop@diy_template/blank"/}
  </script>
 <script type="text/ng-template" id="widget-title-display.html">
	{include file="shop@diy_template/title"/}
  </script>
  <script type="text/ng-template" id="widget-textnav-display.html">
	{include file="shop@diy_template/textnav"/}
  </script>
   <script type="text/ng-template" id="widget-picnav-display.html">
	{include file="shop@diy_template/picnav"/}
  </script>
  <script type="text/ng-template" id="widget-searchgoods-display.html">
	{include file="shop@diy_template/searchgoods"/}
  </script>
  <script type="text/ng-template" id="widget-blankline-display.html">
	{include file="shop@diy_template/blankline"/}
  </script>
  <script type="text/ng-template" id="widget-case-display.html">
	{include file="shop@diy_template/case"/}
  </script>
  <script type="text/ng-template" id="widget-case2-display.html">
  {include file="shop@diy_template/case2"/}
  </script>
  <script type="text/ng-template" id="widget-notice-display.html">
	{include file="shop@diy_template/notice"/}
  </script>
  <script type="text/ng-template" id="widget-usercenter-display.html">
	{include file="shop@diy_template/usercenter"/}
  </script>
  <script type="text/ng-template" id="widget-goodsdetail-display.html">
	{include file="shop@diy_template/goodsdetail"/}
  </script>
<script type="text/ng-template" id="widget-fixedmodule-display.html">
	{include file="shop@diy_template/fixedmodule"/}
</script>
<script type="text/javascript">
var dataConfig = '{$diyData['config']|default=''}';
if(dataConfig!=""){
	initDiy(dataConfig);
}
</script>