<script type="text/ng-template" id="widget-header-editor.html">
{include file="diy_template/header-editor"/}
</script>
<script type="text/ng-template" id="widget-richtext-editor.html">
{include file="diy_template/richtext-editor"/}
</script>
<script type="text/ng-template" id="widget-goods-editor.html">
{include file="diy_template/goods-editor"/}
</script>
<script type="text/ng-template" id="widget-mutipic_goods-editor.html">
{include file="diy_template/mutipic_goods-editor"/}
</script>
<script type="text/ng-template" id="widget-banner-editor.html">
{include file="diy_template/banner-editor"/}
</script>
<script type="text/ng-template" id="widget-mutipic_banner-editor.html">
{include file="diy_template/mutipic_banner-editor"/}
</script>
<script type="text/ng-template" id="widget-piclist-editor.html">
{include file="diy_template/piclist-editor"/}
</script>
<script type="text/ng-template" id="widget-blank-editor.html">
{include file="diy_template/blank-editor"/}
</script>
<script type="text/ng-template" id="widget-title-editor.html">
{include file="diy_template/title-editor"/}
</script>
<script type="text/ng-template" id="widget-textnav-editor.html">
{include file="diy_template/textnav-editor"/}
</script>
<script type="text/ng-template" id="widget-picnav-editor.html">
{include file="diy_template/picnav-editor"/}
</script>
<script type="text/ng-template" id="widget-searchgoods-editor.html">
{include file="diy_template/searchgoods-editor"/}
</script>
<script type="text/ng-template" id="widget-blankline-editor.html">
{include file="diy_template/blankline-editor"/}
</script>
<script type="text/ng-template" id="widget-case-editor.html">
{include file="diy_template/case-editor"/}
</script>
<script type="text/ng-template" id="widget-case2-editor.html">
{include file="diy_template/case2-editor"/}
</script>
<script type="text/ng-template" id="widget-notice-editor.html">
{include file="diy_template/notice-editor"/}
</script>
<script type="text/ng-template" id="widget-usercenter-editor.html">
{include file="diy_template/usercenter-editor"/}
</script>
<script type="text/ng-template" id="widget-goodsdetail-editor.html">
{include file="diy_template/goodsdetail-editor"/}
</script>
<script type="text/ng-template" id="widget-fixedmodule-editor.html">
{include file="diy_template/fixedmodule-editor"/}
</script>