<div>
	<!--页面标题设置-->
	<div class="app_editor" ng-controller="picNavController">
		<em class="arrow-left"></em>
		
        <div class="form_item">
			<label>显示设置</label>
			<div class="iput pt_8">
            	<input type="checkbox" checked name="show_title" ng-model="activeItem.params.show_title"/>显示文字&nbsp;&nbsp;&nbsp;               
			</div>
		</div>
        <div class="form_item">
			<label>样式设置</label>
			<div class="iput pt_8">
                <input type="radio" name="align" value="2" ng-model="activeItem.params.nav_style"/>两列&nbsp;&nbsp;&nbsp;
                 <input type="radio" name="align" value="3" ng-model="activeItem.params.nav_style"/>三列&nbsp;&nbsp;&nbsp;
                <input type="radio" name="align" value="4" ng-model="activeItem.params.nav_style"/>四列
			</div>
		</div>
		<div class="form_item">
			<div class="iput wput">
				<a href="javascript:;" class="btn" ng-click="addPicNav()">添加导航</a>
               
                <div class="sub_edit_item" ng-repeat="b in activeItem.params.pic_nav_list">
                    <a class="add_pic_btn" href="javascript:;" ng-click="addPicNavPic(b)"><img ng-show="b.pic" src="{{b.pic}}"/></a>
                    <div class="s_i_p">
                        <input type="text" placeholder="填写标题" ng-model="b.title"/><br/>
                        <input type="text" placeholder="填写链接" ng-model="b.url"/>
                    </div>
                    <a class="del_pic_btn" href="javascript:;" ng-click="deletePicNav(b)">&nbsp;</a>
                </div>
                
			</div>
        </div>
            <p class="edit_tips">
            	<b class="fa fa-info-circle"></b> 配置说明：<br/>
                二列:图片宽高建议为正方形 300*300以上<br/>
                三列:图片宽高建议为正方形 200*200以上<br/>
                四列:图片宽高建议为正方形 100*100以上<br/>
            </p>
	</div>
</div>