<div>
	<!--页面标题设置-->
	<div class="app_editor">
		<em class="arrow-left"></em>
        <!--
		<div class="form_item">
			<label>背景颜色</label>
			<div class="iput">
				<div data-color="bgColor" class="color_picker" ng-click="colorPicker($event)"  ng-style="{'background-color':activeItem.params.bgColor}"  ng-model="activeItem.params.bgColor"></div>
				<span class="tips">背景颜色只在手机端显示</span>
			</div>
		</div>
        <div class="form_item">
			<label>文字颜色</label>
			<div class="iput">
				<div data-color="color" class="color_picker" ng-click="colorPicker($event)"  ng-style="{'background-color':activeItem.params.color}"  ng-model="activeItem.params.color"></div>
				<span class="tips"></span>
			</div>
		</div>
        <div class="form_item">
			<label>文字大小</label>
			<div class="iput">
				<input type="range" max="40" min="12" ng-model="activeItem.params.fontsize"/>
			</div>
		</div>
        <div class="form_item">
			<label>对齐方式</label>
			<div class="iput pt_8">
				<input type="radio" name="align" value="left" ng-model="activeItem.params.align"/>左对齐&nbsp;&nbsp;&nbsp;
                <input type="radio" name="align" value="center" ng-model="activeItem.params.align"/>居中对齐&nbsp;&nbsp;&nbsp;
                <input type="radio" name="align" value="right" ng-model="activeItem.params.align"/>右对齐
			</div>
		</div>
        -->
		<div class="form_item">
			<label>富文本内容</label>
			<div class="iput">
				
		<!-- 		<textarea style="width:420px" name="diy_editor_richcontent" ng-model="activeItem.params.content">{{activeItem.params.content}}</textarea> -->
		<textarea style="width:420px" name="diy_editor_richcontent" ng-model="activeItem.params.content"></textarea>
			</div>
			
		</div>
	</div>
</div>