<div class="text_nav_list" ng-switch="module.params.text_nav_style">
<div class="default_div" ng-show="!module.params.text_nav_list.length">请添加导航</div>
<ul ng-switch-when="1">
    <li ng-repeat="m in module.params.text_nav_list">
    	<a href="{{m.url}}" ng-style="{'background-color':module.params.bgColor}">
        	<p class="title" ng-style="{'color':module.params.color}">{{m.title}}</p>
            <em></em>
        </a>
    </li>
</ul>
<ul class="two_text_nav_list" ng-switch-when="2">
    <li ng-repeat="m in module.params.text_nav_list">
    	<a href="{{m.url}}" ng-style="{'background-color':module.params.bgColor}">
        	<p class="title" ng-style="{'color':module.params.color}">{{m.title}}</p>
        </a>
    </li>
</ul>
<ul class="three_text_nav_list" ng-switch-when="3">
    <li ng-repeat="m in module.params.text_nav_list">
    	<a href="{{m.url}}" ng-style="{'background-color':module.params.bgColor}">
        	<p class="title" ng-style="{'color':module.params.color}">{{m.title}}</p>
        </a>
    </li>
</ul>
<ul class="four_text_nav_list" ng-switch-when="4">
    <li ng-repeat="m in module.params.text_nav_list">
    	<a href="{{m.url}}" ng-style="{'background-color':module.params.bgColor}">
        	<p class="title" ng-style="{'color':module.params.color}">{{m.title}}</p>
        </a>
    </li>
</ul>
</div>