// 按钮组件
.u-button {
    position: relative;
    padding: 0;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    border-radius: 30px;
    padding: 0 15px;
    font-size: 14px;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    -webkit-appearance: none;
    -webkit-text-size-adjust: 100%;
    min-width: 80px;
    &:active {
        opacity: .9;
    }
    // 主色
    &--primary {
        color: #fff;
        background: $gradient;
        border: 0;
    }
    // 边框按钮
    &--border {
        color: $red;
        border: 1px solid $red;
        background: transparent;
    }
    // 订单禁用按钮
    &--disable {
        opacity: .5;
        background: transparent;
        color: #999;
    }
    &--disable2 {
        @extend .u-button--primary;
        &,&:active {opacity: .3;}
    }
	&.disable {opacity: .3;}


    // 大按钮
    &--primary.u-button--big {
        height: 45px;
        line-height: 45px;
        width: 92%;
        margin: 15px;
    }

    // 100% 宽度的方形按钮
    &--square {
        @extend .u-button--primary;
        width: 100%;
        border-radius: 0;
        height: 45PX;
        background: $red;
    }

    // 固定在底部的button
    &__bar {
        display: flex;
        align-items: center;
        box-shadow: 1px 0 10px rgba(0, 0, 0, 0.1);
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 45PX;
        background: #fff;
        max-width: 750px;
    }
}


