/**
* 字体icon
* -----------------------------------------*/
@font-face {
    font-family: 'iconfont';  /* project id 888563 */
    src: url('//at.alicdn.com/t/font_888563_d2f6jxnq7pq.eot');
    src: url('//at.alicdn.com/t/font_888563_d2f6jxnq7pq.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_888563_d2f6jxnq7pq.woff') format('woff'),
    url('//at.alicdn.com/t/font_888563_d2f6jxnq7pq.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_888563_d2f6jxnq7pq.svg#iconfont') format('svg');
  }
  
  .iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-daohang:before { content: "\e600"; }
  
  .icon-close:before { content: "\e69a"; }
  
  .icon-refresh:before { content: "\e6aa"; }
  
  .icon-success:before { content: "\e6b1"; }
  
  .icon-wrong:before { content: "\e6b7"; }
  
  .icon-phone:before { content: "\e617"; }
  
  .icon-gou:before { content: "\e647"; }
  
  .icon-notice:before { content: "\e615"; }
  
  .icon-fanhui:before { content: "\e648"; }
  
  .icon-dingwei:before { content: "\e604"; }
  
  .icon-tubiaozhizuomoban:before { content: "\e607"; }
  
  .icon-shanchu:before { content: "\e625"; }
  
  
  
  
  .icon-fanhui {
    color: #aaa;
    transition: all .3s;
    &.right {transform: rotate(180deg)}
    &.top {transform: rotate(90deg)}
    &.bottom {transform: rotate(-90deg)}
    &.left {transform: rotate(-180deg)}
  }