
// 颜色
$primary-color: #ff0204;
$red: #ff0036;
$black: #000;
$white: #fff;
$violet: #341854;

$green: #09bb07;

$golden: #e9c27d;

$gray: #aaa;
$light-gray: #f0f0f0;
$dary-gray: #b2b2b2;

$link-color: #0264af;
$link-color-active: #ECECEC;
$body-bg: #f9f9f9;




// 内外边距
$box-xs: .133333rem;
$box-sm: .266667rem;
$box-md: .4rem;
$box-lg: .533333rem;



// 其它
$max-w: 540px;










