{include file="common@base/mobile_head"/}	
<link href="{:ADDON_PUBLIC_PATH}/Draw.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{:ADDON_PUBLIC_PATH}/Draw.js"></script>

<body>
  <div class="container"> 
  <div class="nine">
    <div id="lottery">
	<table border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td class="lottery-unit lottery-unit-0"><img src="{:ADDON_PUBLIC_PATH}/transparent.jpg"></td>
			<td class="lottery-unit lottery-unit-1"><img src="{:ADDON_PUBLIC_PATH}/transparent.jpg"></td>
			<td class="lottery-unit lottery-unit-2"><img src="{:ADDON_PUBLIC_PATH}/transparent.jpg"></td>
            
		</tr>
		<tr>
			<td class="lottery-unit lottery-unit-7"><img src="{:ADDON_PUBLIC_PATH}/transparent.jpg"></td>
			<td class="nine_star" ><a href="#"><img src="{:ADDON_PUBLIC_PATH}/transparent.jpg"></a></td>
			<td class="lottery-unit lottery-unit-3"><img src="{:ADDON_PUBLIC_PATH}/transparent.jpg"></td>
		</tr>
		
        <tr>
			
			<td class="lottery-unit lottery-unit-6"><img src="{:ADDON_PUBLIC_PATH}/transparent.jpg"></td>
			<td class="lottery-unit lottery-unit-5"><img src="{:ADDON_PUBLIC_PATH}/transparent.jpg"></td>
            <td class="lottery-unit lottery-unit-4"><img src="{:ADDON_PUBLIC_PATH}/transparent.jpg"></td>
		</tr>
	</table>
</div>
                
                
                <div class="nine_ins">
                        <span class="diamond1">
                               活动状态
                        </span>
                    <p>开始时间：2015-05-14  00：00：00</p>
                    <p>结束时间：2015-10-31  00：00：00</p>
                </div>
                
                <div class="nine_prize">
                
                         <span class="diamond2">
                               奖品介绍
                        </span>
                  <table class="nine_jieshao">
                      <tr>
                      <td class="nine_p">特等奖<p>1000名</p></td>
                      <td class="nine_p">一等奖<p>1000名</p></td>
                      <td class="nine_p">二等奖<p>1000名</p></td>
                      </tr>
                      <tr>
                      <td><img src="{:ADDON_PUBLIC_PATH}/nine_jie.jpg"></td>
                      <td><img src="{:ADDON_PUBLIC_PATH}/nine_gift.jpg"></td>
                      <td><img src="{:ADDON_PUBLIC_PATH}/nine_gold.jpg"></td>
                      </tr>
                      <tr>
                      <td>钻戒</td>
                      <td>名表</td>
                      <td>金条</td>
                      </tr>
                   </table>
                </div>
                 
               
                <div class="nine_ins">
                
                         <span class="diamond3">
                               活动说明
                        </span>
                            <p>活动仅供演示，奖品虚拟</p>
                </div>
                
               
                <div class="nine_ins">
                         <span class="diamond4">
                               中奖名单
                        </span>
                        
                       <p>1.章鱼哥 二等奖 金条</p>
                       <p>2.章鱼哥 二等奖 金条</p>
                       <p>3.章鱼哥 二等奖 金条</p>
                </div>
         </div>
         </div>
 </div>
<script type="text/javascript">
</script>
</body>
</html>
