{include file="common@base/head"/}
<body style="background:#fff">
<div class="lists_data">
  <div class="span9 page_message">
    <section id="contents">
{if condition="empty($list_data) && empty(input('content')) "}
		<div class="empty_container"><p>您的文本素材库为空，<a target='_blank' href="{:U('material/Material/text_lists')}">请先增加素材</a></p></div>

{else/}

      <div class="table-bar">
        <div class="search-form fl">
        </div>
        <!-- 高级搜索 -->
        <div class="search-form fr cf" style="border: 1px solid #eee">
          <input type="text" placeholder="请输入文本内容搜索" value="{:I('content')}" class="search-input" name="content">
            <a url="{:U('material/Material/text_lists',$get_param)}" id="search" href="javascript:;" class="sch-btn"><i class="btn-search"></i></a> </div>
        </div>
        <!-- 多维过滤 -->
      </div>
      <!-- 数据列表 -->
      <div class="data-table">
        <div class="table-striped">
          <table cellspacing="1">
            <!-- 表头 -->
            <thead>
              <tr>
                <th class="row-selected row-selected">
                  {if condition="!$isRadio"}
                  <input type="checkbox" class="check-all regular-checkbox" id="checkAll">
                  <label for="checkAll"></label></th>
                  {/if}
                <th>编号</th>
                <th width='85%'>素材文本内容</th>
              </tr>
            </thead>

            <!-- 列表 -->
            <tbody>
              {volist name="list_data" id="vo"}
                <tr>
                  <td>
                   {empty name="isRadio"}
                  		<input type="checkbox" id="check_{$vo.id}" name="ids[]" value="{$vo.id}" class="ids regular-checkbox">
                    	<label for="check_{$vo.id}"></label>
                    {else/}
                    	<input type="radio" id="check_{$vo.id}" name="ids[]" value="{$vo.id}" class="ids regular-radio">
                    	<label for="check_{$vo.id}"></label>
                    {/empty}
                  </td>
                  <td type="headimgurl">{$vo.id}</td>
                  <td type="content">{$vo.content|raw}</td>
                </tr>
              {/volist}
            </tbody>
          </table>
        </div>
      </div>
      {/if}
      <div class="page"> {$_page|raw|default=''} </div>
    </section>
  </div>

<script type="text/javascript">
$(function(){
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
        var query  = $('.search-form').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
//        query = query.replace(/(^\s*)|(\s*$)/g, "");
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
        if(query == '' ){
        	url="{:U('material/Material/text_lists',array('isAjax'=>1,'isRadio'=>$isRadio))}";
        }
		url = change_search_url(url);
		window.location.href = url;
	});

    //回车自动提交
    $('.search-form').find('input').keyup(function(event){
        if(event.keyCode===13){
            $("#search").click();
        }
    });
	$('select[name=group]').change(function(){
		location.href = this.value;
	});

})
</script>
</body>
</html>
