
{empty name="list_data"}
<div class="empty_container"><p>您的视频素材库为空，<a href="{:U('material/Material/video_lists')}">请先增加素材</a></p></div>
{else/}<div class="data_container"><ul class="picture_list material_list">
      {volist name="list_data" id="vo"}
      <li  class="appmsg_li" data-id="{$vo.id}"  style="overflow:hidden">
                	<div class="picture_item">
                        <div class="video_item">
                        	<p class="title ellipsis">{$vo.title}</p>
                            <p class="ctime colorless">{$vo.cTime|time_format}</p>
                            <div class="video_area">
                            	<video src="{$vo.file_id|get_file_url}" controls="controls">您的浏览器不支持 video 标签。</video>
                            </div>
                             <p>{$vo.introduction}</p>
                        </div>

                    </div>
                </li>
            {/volist}
            <div class="hover_area"></div>
        </ul>
{/empty}
<div class="page"> {$_page|raw|default=''} </div></div>

<script type="text/javascript">
    // 素材分页切换
    $('.page .pagination a').click(function (e) {
        e.preventDefault();
        var selfHref = $(this).attr('href');
         $.WeiPHP.openSelectAppMsg(selfHref,selectAppMsgCallback);
    })
</script>
</body>
