<div class="foot section fp-auto-height">
    <div class="wrap foot_wrap">
        <div class="foot_div">
            <h6>公司简介</h6>
            <p>深圳市圆梦云科技有限公司是一家具有创新思维的互联网公司，主要提供的服务有互联网软件开发，包括微信公众平台服务，企业社区，商城产品，教育培训等。公司由有多年互联网经验的人员组成，致力于提供优质的互联网产品和服务，是国内最具实力的微信开发商、社区开发商。旗下主要开源产品WeiPHP下载量达百万级别，被众多开发者安装使用</p>
        </div>
        <div class="foot_div" style="margin:0 5%;">
            <h6>联系方式</h6>
            <p>联系电话：0755-23729769</p>
            <p>商务合作：weiphp@weiphp.cn</p>
            <a href="https://www.kancloud.cn/wephp/weiphp4/413074">技术支持：请加入QQ群：<br>451336116【官方付费群，一对一服务】<br>
                423746307【官方交流5群, 可闲聊】</a>
            <p></p>
            <!--<a href="#">公司地址：深圳 【查看具体】</a>-->
        </div>
        <div class="getqrcode">
            <h6>联系我们</h6>
            <img src="__IMG__/oweb/code.jpg" alt="联系我们的二维码">
        </div>
    </div>
    <p class="copyright">圆梦云科技有限公司版权所有 <a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow">粤ICP备14081901号</a></p>
</div>