<div class="head">
    <div class="wrap">
        <a class="logo" href="{:U('home/index/index')}" ></a>
        <div class="nav">
            <a class="nav_item" href="{:U('home/index/index')}" >首页</a>
            <a class="nav_item" href="{:U('home/index/product')}">产品下载</a>
            <!--<a class="nav_item" href="{:U('home/index/course')}" >培训·帮助</a>-->
            <a class="nav_item" href="{:U('home/index/service')}" t>定制开发</a>
            <a class="nav_item" href="{:U('home/index/apps')}" >插件库</a>
            <a class="nav_item" href="{:U('home/index/about')}">关于我们</a>
            <a class="nav_item" href="https://bug.weiphp.cn/" target="_blank">BUG管理系统</a>
        </div>
    </div>
</div>