<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="小程序开发，微信开发，小程序商城，weiphp，店付宝，公众号开发，微信商城" name="keywords"/>
    <meta content="小程序开发，微信开发，商城小程序，小程序定制开发-深圳市圆梦云科技有限公司，店付宝小程序，微信小程序，微信商城，weiphp,新零售|O2O模式|餐饮|小程序开发|社区|门店|教育|教程|视频|解决方案" name="description"/>
    <link rel="shortcut icon" href="{:SITE_URL}/favicon.ico">
    <title>关于我们|weiphp|小程序开发|微信开发|微信小程序开发|小程序定制开发|小程序商城|公众号|小程序|圆梦云</title>
    <link type="text/css" rel="stylesheet" href="__CSS__/oweb.css?v={:SITE_VERSION}" />
    <link type="text/css" rel="stylesheet" href="__CSS__/fullpage.css?v={:SITE_VERSION}" />
    <link rel="stylesheet" href="__STATIC__/default/lib/jquery-ui-1.12.1/jquery-ui.css">
    <link rel="stylesheet" href="//jqueryui.com/resources/demos/style.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js"></script>
    <script src="__STATIC__/default/lib/jquery-ui-1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="__STATIC__/fullpage.js"></script>
    <script type="text/javascript" src="__STATIC__/fullpage.min.js"></script>
    <script>

    </script>
</head>
<body>
{include file="index/_head" /}

<div class="body">
    <div class="banner">
        <div>
            <h2 class="banner-title">关于我们</h2>
            <div class="line"></div>
            <p class="banner-introduction">丰富的产品研发经验以及对互联网的热衷和不懈追求</p>
        </div>
    </div>
    </div>
    <div id="tabs" >
        <div>
        <ul>
            <li class="list-item"><a href="#tabs-1"><span class="title">关于我们</span></a></li>
            <li class="list-item"><a href="#tabs-2"><span class="title">联系我们</span></a></li>
            <li class="list-item"><a href="#tabs-3"><span class="title">加入我们</span></a></li>
            <li class="list-item"><a href="#tabs-4"><span class="title">合作伙伴</span></a></li>
            <li class="list-item"><a href="#tabs-5"><span class="title">授权协议</span></a></li>
            <!--<li><a href="#tabs-6">资源下载</a></li>-->
        </ul>
        </div>
        <!--关于我们-->
        <div id="tabs-1">
            <div class="about_us">
                <!--<h4>关于圆梦云</h4>-->
                <!--<span>ABOUT YUAN MENG YUN</span>-->
                <img src="__IMG__/oweb/about_us.jpg">
                <p>深圳市圆梦云科技有限公司是一家具有创新思维的互联网公司，主要提供的服务有互联网软件开发，包括微信公众平台服务，企业社区，商城产品，教育培训等。公司由有多年互联网经验的人员
                    组成，致力于提供优质的互联网产品和服务，是国内最具实力的微信开发商、社区开发商。旗下主要开源产品WeiPHP下载量达百万级别，被众多开发者安装使用。</p>
            </div>
            <div class="important_course">
                <h3>重要历程</h3>
                <img src="__IMG__/oweb/important_course.jpg">
            </div>
        </div>
        <!--联系我们-->
        <div id="tabs-2">
            <div class="contact_us">
                <div>
                    <div class="contact_icon hotline"></div>
                    <div>
                        <h5>服务热线</h5>
                        <p>为您提供热线服务，获取相关服务支持</p>
                        <span>服务电话：0755-23739769</span><br>
                    </div>
                </div>
            </div>
            <div class="contact_us">
                <div>
                    <div class="contact_icon email"></div>
                    <div>
                        <h5>邮件</h5>
                        <p>为您提供邮件服务</p>
                        <span>商务合作：weiphp@weiphp.cn</span><br>
                    </div>
                </div>
            </div>
        </div>
        <!--加入我们-->
        <div id="tabs-3">
            <div class="card join_us">
                <div class="card-header">
                    <h4>PHP开发工程师</h4>
                </div>
                <div class="card-body">
                    <div class="duty">
                        <h5>岗位职责：</h5>
                        <p>1、负责WeiPHP相关项目的开发工作； <br/>
                            2、负责WeiPHP插件的开发；<br/>
                            3、其他部署项目，性能优化等工作；<br/></p>
                    </div>
                    <div class="requirement">
                        <h5>任职要求：</h5>
                        <p>1、熟悉网络编程;熟悉Linux下的mysql开发;熟悉LAMP架构；
                            <br/>
                            2、熟悉ThinkPHP框架，使用ThinkPHP开发过正式上线的项目；
                            <br/>
                            3、熟悉HTTP协议, 熟悉互联网WEB HTML、Javascript；
                            <br/>
                            4、具备良好的分析解决问题能力,能独立承担任务和有系统进度把控能力和推动能力；
                            <br/>
                            5、责任心强,良好的沟通和团队协作能力,主动、好学。</p>
                    </div>
                </div>
            </div>
            <div class="card join_us">
                <div class="card-header">
                    <h4>UI设计师</h4>
                </div>
                <div class="card-body">
                    <div class="duty">
                        <h5>岗位职责：</h5>
                        <p>1、对系列项目的美化设计； <br/>
                            2、对系列项目的界面设计与美化；<br/>
                            3、负责公司、项目网站的优化；<br/></p>
                    </div>
                    <div class="requirement">
                        <h5>任职要求：</h5>
                        <p>1、大学专科或以上学历； <br/>
                            2、熟悉相关软件，精通 Photoshop CS、Illustrator CS、AI等矢量软件；<br/>
                            3、能吃苦耐劳，具备良好团队合作意识； <br/>
                            4、1-3年以上经验，移动互联网行业从业者优先、有H5页面设计经验优先。<br/>
                            5、责任心强,良好的沟通和团队协作能力,主动、好学</p>
                    </div>
                </div>
            </div>
            <div class="card join_us">
                <div class="card-header">
                    <h4>运营经理</h4>
                </div>
                <div class="card-body">
                    <div class="duty" style="width:100%;border:none;">
                        <h5>岗位职责：</h5>
                        <p>负责公司网站，社区运营管理<br>
                        负责微信公众号活动策划，方案编写与发布<br>
                        协助销售经理完成销售活动策划</p>
                    </div>
                </div>
            </div>
            <div class="card join_us">
                <div class="card-header">
                    <h4>销售经理</h4>
                </div>
                <div class="card-body">
                    <div class="duty">
                        <h5>岗位职责：</h5>
                        <p>1、负责协助公司完成各项销售工作  <br/>
                            2、负责维护客户关系，做好市场相关的各项业务事宜  <br/>
                            3、负责制定销售计划和销售方案  <br/>
                            4、负责整理销售部门文件资料  <br/>
                            5、负责销售部门的日常运营工作 <br/>
                            6、负责公司现有微信产品的推广和销售 <br/>
                            7、负责为公司引入微信类，社区类，电商类等定制开发项目</p>
                    </div>
                    <div class="requirement">
                        <h5>任职要求：</h5>
                        <p> 1、高中及以上学历，专业不限  <br/>
                            2、具有1年以上网络销售类或者软件销售类的工作经验  <br/>
                            3、具有较强的工作责任心，做事细心  <br/>
                            4、具有较强的沟通协调能力，亲和力强  <br/>
                            5、熟练使用WORD，EXCEL等办公软件  <br/>
                            6、具有良好的团体合作能力 <br/>
                            7、有软件开发背景，微信公众号运营的优先</p>
                    </div>
                </div>
            </div>
            <div class="join_us"><p>工作地点：深圳（本招聘信息长期有效）有意向者发简历至<span> weiphp@weiphp.cn</span></p></div>
         </div>
        <!--合作伙伴-->
        <div id="tabs-4">
            <div class="classic_cases">
                    <h3>经典案例</h3>
                    <ul class="list-group">
                        <li class="list-group-item">
                                <img src="__IMG__/oweb/cooperative_partner01.jpg">
                                <div>
                                <h5>摇电视体育直播互动</h5>
                                <p>微信摇电视让用户可以通过手机和电视进行多屏互动，提高观看电视的乐趣和增加品牌效应，沉淀用户。体育赛事直播的互动功能主要通过互动竞猜、抽奖功能、评论、助威等来实现，后台可以对奖品，赛事、评论、用户、效果统计进行管理和查看。</p>
                                </div>
                        </li>
                        <li class="list-group-item">
                                <img src="__IMG__/oweb/cooperative_partner02.jpg">
                                <div>
                                <h5>中信e书院培训管理平台</h5>
                                <p>基于微信庞大的用户群，利用公众号建立企业内部培训管理系统让员工可以随时随地进行学习和参与交流互动，服务于中信内部的企业培训管理系统，集课程管理、讲师管理、学员管理，试题库、资料库、测试统计等功能。</p>
                                </div>
                        </li>
                        <li class="list-group-item">
                                <img src="__IMG__/oweb/cooperative_partner03.jpg">
                                <div>
                                <h5>公众号运营平台</h5>
                                <p>针对运营中遇到多个公众号一起运营，既要考虑管理分工，又要考虑资源共享使用。公众号运营平台可以同时绑定多个公众号，进行运营人员分配，图片图文素材共享使用，大大提高运营效率，丰富的运营工具可以帮助电台提高用户的活跃率，增加收播率，沉淀用户。提升效益。</p>
                                </div>
                        </li>
                        <li class="list-group-item">
                                <img src="__IMG__/oweb/cooperative_partner04.jpg">
                                <div>
                                <h5>酒店公众号运营平台</h5>
                                <p>蜘蛛旅游网公众号运营平台，可以在线同时运营多个公众号。包括的功能有：酒店全景、客房预订、酒店介绍、餐饮美食、婚礼会议、公众号管理，消息群发等。</p>
                                </div>
                        </li>
                        <li class="list-group-item">
                                <img src="__IMG__/oweb/cooperative_partner05.jpg">
                                <div>
                                <h5>新东方论坛</h5>
                                <p>新东方论坛是一个功能完善体验良好社区，兼容了移动端和PC端，有城市分站，版块、城市管理员、以及完善的数据统计。</p>
                                </div>
                        </li>
                    </ul>
            </div>
            <div class="orther_cases">
                <h3>其他案例</h3>
                <div>
                    <img src="__IMG__/oweb/cases1.jpg">
                    <img src="__IMG__/oweb/cases2.jpg" >
                    <img src="__IMG__/oweb/cases3.jpg">
                    <img src="__IMG__/oweb/cases4.jpg">
                </div>
            </div>
         </div>
        <!--授权协议-->
        <div id="tabs-5" >
            <div class="authorization_agreement">
                <h4>WeiPHP 商标和著作权所有者为圆梦云科技有限公司所有</h4>
                <p>WeiPHP遵循Apache Licence2开源协议，并且免费使用（但不包括其衍生产品、插件或者服务）。Apache   Licence是著名的非盈利开源组织Apache采用的协议。该协议和BSD类似，鼓励代码共享和尊重原作者的著作权，允许代码修改，再作为开源或商业  软件发布。</p>
                <h5>需要满足的条件：</h5>
                <ul class="condition">
                    <li>1、需要给用户一份Apache Licence ； </li>
                    <li>2、如果你修改了代码，需要在被修改的文件中说明； </li>
                    <li>3、在延伸的代码中（修改和有源代码衍生的代码中）需要带有原来代码中的协议，商标，专利声明和其他原来作者规定需要包含的说明； </li>
                    <li>4、如果再发布的产品中包含一个Notice文件，则在Notice文件中需要带有本协议内容。你可以在Notice中增加自己的许可，但不可以表现为对Apache Licence构成更改。</li>
                </ul>
            </div>
         </div>
        <!--<div id="tabs-6">-->
            <!--<p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.</p>-->
            <!--<p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.</p>-->
        <!--</div>-->
    </div>
</div>

{include file="index/_footer" /}

<script>
    // var href = window.location.href;
    // var about_id = href.slice(length - 9,length - 8);
    $(function() {
        $( "#tabs" ).tabs({
            show: true,
            hide: true,
            active: 0
        });
    });

    $(document).ready(function() {
        var width = $(window).width();
        var docwidth = $(document).width();
        var height = width;
        $(".banner").css({'width': width, 'height': height * 0.25});
        $(".ui-tabs").css({'width': width});
        $(".about_us>div").css({'height': height * 0.2});
        $(".important_course>div").css({'height': height * 0.2});
        $(".head").css('width', width);
        $(".foot").css('width', width);
        $(window).resize(function () {
            var width = $(window).width();
            var height = width;
            $(".banner").css({'width': width, 'height': height * 0.25});
            $(".ui-tabs").css({'width': width});
            $(".about_us>div").css({'height': height * 0.2});
            $(".important_course>div").css({'height': height * 0.2});
            $(".head").css('width', width);
            $(".foot").css('width', width);
        })

        $(".list-item").click(function () {
            var that = this;
            var titlename = $(that).children().children().text();
            $(".banner-title").html(titlename);
            if(titlename == '联系我们'){
                $(".banner-introduction").html('圆梦云专家团队为客户提供各项优质服务')
            }else if(titlename == '加入我们'){
                $(".banner-introduction").html('一起创造辉煌，共赢未来')
            }else if(titlename == '合作伙伴'){
                $(".banner-introduction").html('圆梦云合作伙伴提供全方位的合作与支持，致力于帮助合作伙伴构建基于圆梦云的业务实践和解决方案。')
            }else if(titlename == '授权协议'){
                $(".banner-introduction").html('鼓励代码共享和尊重原作者的著作权')
            }else{
                $(".banner-introduction").html('丰富的产品研发经验以及对互联网的热衷和不懈追求')
            }
        })


    })
</script>
</body>