<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="小程序开发，微信开发，小程序商城，weiphp，店付宝，公众号开发，微信商城" name="keywords"/>
    <meta content="小程序开发，微信开发，商城小程序，小程序定制开发-深圳市圆梦云科技有限公司，店付宝小程序，微信小程序，微信商城，weiphp,新零售|O2O模式|餐饮|小程序开发|社区|门店|教育|教程|视频|解决方案" name="description"/>
    <link rel="shortcut icon" href="{:SITE_URL}/favicon.ico">
    <title>weiphp|小程序开发|微信开发|微信小程序开发|小程序定制开发|小程序商城|weiphp店付宝|公众号|小程序|圆梦云</title>
    <link type="text/css" rel="stylesheet" href="__CSS__/oweb.css?v={:SITE_VERSION}"/>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js"></script>
</head>
<body>
{include file="index/_head" /}

<div class="body">
    <div class="course one">
        <div class="offer_course">
            <h1>为你提供更专业的培训</h1>
            <span>班主任授课、小班制教学、升学、挂行业，满足你的技术需求<br>
                资深大牛为你辅导，全程跟踪你的学习进度，更有实战任务来检验你的学习成果
            </span>
        </div>
        <div class="contact_headmaster getqrcode">
            <img src="__IMG__/oweb/code.jpg"><br>
            <span>马上联系班主任</span>
        </div>
    </div>

    <div class="course two">
        <div class="open_class">
            <span>公开课</span>
            <a class="show_more" href="">查看更多</a>
        </div>
        <div class="open_class">
            <div class="card-group">
                <div class="card">
                    <div class="card-border">
                    <div class="card-body">
                        <img class="card-img course_img1" src="__IMG__/oweb/course1.jpg">
                        <div class="card-content">
                            <div>
                                <span class="card-title">主讲：张老师</span><br>
                                <span class="course_time">2018.10.30</span>
                            </div>
                            <button class="btn study_now">立即学习</button>
                        </div>
                        <p class="card-text">蜕变计划，深入了解WeipPHP,从底层到应用带领代价一步一步的 踏入WeipPHP大人殿堂，实时互动，实时解答，直播加项目实战，老师全程跟进学习进度
                            蜕变计划，深入了解WeiPHP,从底层到应用带领代价一步一步的踏入WeiPHP大人殿堂，实时互动，实时解答，直播加项目实战， 老师全程跟进学习进度
                        </p>
                        <!--<i class="fa fa-angle-down fa-lg"></i>-->
                    </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-border">
                    <div class="card-body">
                        <img class="card-img course_img1" src="__IMG__/oweb/course2.jpg">
                        <div class="card-content">
                            <div>
                                <span class="card-title">主讲：张老师</span><br>
                                <span class="course_time">2018.10.30</span>
                            </div>
                            <button class="btn study_now">立即学习</button>
                        </div>
                        <p class="card-text">蜕变计划，深入了解WeiPHP,从底层到应用带领代价一步一步的踏入WeiPHP大人殿堂，实时互动，实时解答，直播加项目实战， 老师全程跟进学习进度
                            蜕变计划，深入了解WeiPHP,从底层到应用带领代价一步一步的踏入WeiPHP大人殿堂，实时互动，实时解答，直播加项目实战， 老师全程跟进学习进度
                            蜕变计划，深入了解WeiPHP,从底层到应用带领代价一步一步的踏入WeiPHP大人殿堂，实时互动，实时解答，直播加项目实战， 老师全程跟进学习进度
                            蜕变计划，深入了解WeiPHP,从底层到应用带领代价一步一步的踏入WeiPHP大人殿堂，实时互动，实时解答，直播加项目实战， 老师全程跟进学习进度
                        </p>
                        <!--<i class="fa fa-angle-down fa-lg"></i>-->
                    </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-border">
                    <div class="card-body">
                        <img class="card-img course_img1" src="__IMG__/oweb/course3.jpg">
                        <div class="card-content">
                            <div>
                                <span class="card-title">主讲：张老师</span><br>
                                <span class="course_time">2018.10.30</span>
                            </div>
                            <button class="btn study_now">立即学习</button>
                        </div>
                        <p class="card-text">蜕变计划，深入了解WeiPHP,从底层到应用带领代价一步一步的 踏入WeiPHP大人殿堂，实时互动，实时解答，直播加项目实战， 老师全程跟进学习进度
                            蜕变计划，深入了解WeiPHP,从底层到应用带领代价一步一步的踏入WeiPHP大人殿堂，实时互动，实时解答，直播加项目实战， 老师全程跟进学习进度
                            蜕变计划，深入了解WeiPHP,从底层到应用带领代价一步一步的踏入WeiPHP大人殿堂，实时互动，实时解答，直播加项目实战， 老师全程跟进学习进度
                        </p>
                        <!--<i class="fa fa-angle-down fa-lg"></i>-->
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="course three">
        <div class="history_course">
            <span>历史课程</span>
            <a class="show_more" href="">查看更多</a>
        </div>
        <div class="history_course">
            <div class="card-group">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img history_course_img1" src="__IMG__/oweb/history_course.jpg"/>
                        <h5 class="card-title">历史课程1</h5>
                        <button class="btn study_now">立即学习</button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <img class="card-img history_course_img1" src="__IMG__/oweb/history_course.jpg"/>
                        <h5 class="card-title">历史课程2</h5>
                        <button class="btn study_now">立即学习</button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <img class="card-img history_course_img1" src="__IMG__/oweb/history_course.jpg"/>
                        <h5 class="card-title">历史课程3</h5>
                        <button class="btn study_now">立即学习</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="course four">
        <div class="lecturer">
            <span>资深讲师</span>
        </div>
        <div class="lecturer">
            <div class="card-group">
                <div class="card">
                    <div class="card-border">
                        <div class="card-body">
                            <img class="card-img lecturer_img1" src="__IMG__/oweb/head_img.jpg"/><br>
                            <h7 class="imformation">WeiPHP帮助你快捷搭建了微信运营平台， 原来发现一切是如此的简单而强大
                            </h7>
                            <h5 class="card-title">JACK CHEN</h5>
                            <span class="position">公众号开发讲师</span>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-border">
                        <div class="card-body">
                            <img class="card-img lecturer_img1" src="__IMG__/oweb/head_img.jpg"/><br>
                            <h7 class="imformation">WeiPHP插件式的开发， 让很多功能可以轻松完成，而且别人开发的插件也可以快速接入到自己的平台
                            </h7>
                            <h5 class="card-title">苏丹尼</h5>
                            <span class="position">小程序开发讲师</span>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-border">
                        <div class="card-body">
                            <img class="card-img lecturer_img1" src="__IMG__/oweb/head_img.jpg"/><br>
                            <h7 class="imformation">WeiPHP非常简洁，不管在界面和代码上，后台分块也很明了，不像其他的平台，太过复杂
                            </h7>
                            <h5 class="card-title">吴迪</h5>
                            <span class="position">定制开发讲师</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="course five">
        <div class="communication">
            <span>技术交流</span>
            <p>加入组织，让老司机带路。注意：如果你有什么问题，可加入官方QQ群进行交流</p>
        </div>
        <div class="communication">
            <div class="group group1">
                <p><span>451336116</span>【WeiPHP官方答疑协助群，高级付费群，直接一对一服务】</p>
                <p><span>423746307</span>【WeiPHP官方交流5群，可闲聊】</p>
                <p><span>329650736</span>【WeiPHP官方交流1群，可闲聊】</p>
                <p><span>8322255</span>【WeiPHP官方交流2群，可闲聊】</p>
            </div>
            <div class="group group2">
                <p><span>180569370</span>【WeiPHP官方交流5群，可闲聊】</p>
                <p><span>245046321</span>【WeiPHP官方交流5群，可闲聊】</p>
                <p><span>263460285</span>【WeiPHP内测技术群，可闲聊】</p>
            </div>
        </div>
    </div>

</div>

{include file="index/_footer" /}

<script>
    $(document).ready(function() {
        var width = $(window).width();
        var docwidth = $(document).width();
        var height = width;
        $(".course").css({'width' : width});
        $(".course.one").css({ 'height': height * 0.3});
        $(".head").css('width',width);
        $(".foot").css('width',width);
        $(window).resize(function () {
            var width = $(window).width();
            var height = width;
            $(".course").css({'width' : width, });
            $(".course.one").css({ 'height': height * 0.3});
            $(".head").css('width',width);
            $(".foot").css('width',width);
        })

    })
</script>
</body>
</html>