{extend name="Base/login_base" /}
{block name="body"}
<!-- 头部 -->
<div class="login_header">
    <div class="small_wrap">
        <a href="/" title="乐摇"><img class="logo" src="__IMG__/logo.png"/></a>
        <div class="nav_r">
            <!--<a href="{:U('home/index/about')}">关于乐摇</a>
            &nbsp; &nbsp; &nbsp;
            -->
            <a href="{:U('home/index/lead')}">接入指引</a>
            &nbsp; &nbsp; &nbsp;
            <a href="{:U('home/index/question')}">产品问答及说明</a>
        </div>
    </div>
</div>

<section class="reg_box small_wrap about_wrap">
	
    <div class="about_content">
    	<h4>使用说明</h4>
        <p>使用文档更新中...</p>
    </div>
</section>
{/block}
{block name="script"}
{/block}