<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
    <meta content="小程序开发，微信开发，小程序商城，weiphp，店付宝，公众号开发，微信商城" name="keywords"/>
    <meta content="小程序开发，微信开发，商城小程序，小程序定制开发-深圳市圆梦云科技有限公司，店付宝小程序，微信小程序，微信商城，weiphp,新零售|O2O模式|餐饮|小程序开发|社区|门店|教育|教程|视频|解决方案" name="description"/>
    <link rel="shortcut icon" href="{:SITE_URL}/favicon.ico">
    <title>weiphp|小程序开发|微信开发|微信小程序开发|小程序定制开发|小程序商城|weiphp店付宝|公众号|小程序|圆梦云</title>
    <link type="text/css" rel="stylesheet" href="__CSS__/oweb.css?v={:SITE_VERSION}" />
    <link type="text/css" rel="stylesheet" href="__CSS__/fullpage.css?v={:SITE_VERSION}" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css"></head>
    <script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="__STATIC__/fullpage.js"></script>
    <script type="text/javascript" src="__STATIC__/fullpage.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
<body>
{include file="index/_head" /}
<div class="body">
    <div id="fullpage">
    <div class="new_start six section">
        <div class="hot_keyword">
            <h2 class="friendship_link">温馨提示</h2>
            <p>如需要官网功能，请联系我们购买：weiphp520（微信号）</p>
        </div>

    </div>
        <!-- 友情链接 -->
        {include file="index/_footer" /}

    </div>
</div>

</body>
<script>
    $(document).ready(function() {
        $('#fullpage').fullpage({
            licenseKey: 'OPEN-SOURCE-GPLV3-LICENSE',
            navigation: true,
            verticalCentered: true

        });
    });
</script>
</html>