<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
    <meta content="小程序开发，微信开发，小程序商城，weiphp，店付宝，公众号开发，微信商城" name="keywords"/>
    <meta content="小程序开发，微信开发，商城小程序，小程序定制开发-深圳市圆梦云科技有限公司，店付宝小程序，微信小程序，微信商城，weiphp,新零售|O2O模式|餐饮|小程序开发|社区|门店|教育|教程|视频|解决方案" name="description"/>
    <link rel="shortcut icon" href="{:SITE_URL}/favicon.ico">
    <title>weiphp|小程序开发|微信开发|微信小程序开发|小程序定制开发|小程序商城|weiphp店付宝|公众号|小程序|圆梦云</title>
    <link type="text/css" rel="stylesheet" href="__CSS__/oweb.css?v={:SITE_VERSION}" />
    <link type="text/css" rel="stylesheet" href="__CSS__/fullpage.css?v={:SITE_VERSION}" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css"></head>
    <script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="__STATIC__/fullpage.js"></script>
    <script type="text/javascript" src="__STATIC__/fullpage.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
<body>
{include file="index/_head" /}
<div class="body">
    <div id="fullpage">
    <div class="new_start one section">
        <div class="learn_more">
            <h1 class="ns_title">WeiPHP5.0 全新出发</h1>
            <h4>支持公众号和小程序，为您做更好、更简单的微信开发和小程序开发</h4>
            <h4>免费提供公众号商城，小程序商城源码下载及配套的二次开发教程</h4>
            <a class="btn" href="{:U('home/index/product')}">了解更多</a>
        </div>
        <i class="fa fa-angle-double-down fa-2x"></i>
    </div>

    <div class="new_start two section">
        <!--<i class="fa fa-angle-double-up fa-2x"></i>-->
        <div class="more_powerful">
            <h1 class="new_start_title">WeiPHP5.0全新出发 比你想的更强大</h1>
            <h4>多年微信开发经验，提供更安全稳定的系统支持</h4>
        </div>
        <div class="more_powerful1">
            <h2>ThinkPHP5.0</h2>
            <h4>同时支持供公众号和小程序</h4>
            <span>基于ThinkPHP5.0开发框架，同时支持公众号和小程序，<br>
            为您做更好、更简单的微信开发和小程序开发，<br>
            更有详细教程，让你开发简单</span>
        </div>
        <i class="fa fa-angle-double-down fa-2x"></i>
    </div>

    <div class="new_start three section">
        <!--<i class="fa fa-angle-double-up fa-2x"></i>-->
        <div class="more_powerful2">
            <h1 class="new_start_title">一套环境，同时解决公众号和小程序</h1>
            <h4>多年微信开发经验，提供更安全稳定的系统支持</h4>
        </div>
        <div>
            <div class="card-group">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">方便快捷</h4>
                        <p class="card-text">部署一套代码，同时支持公众号和小程序，微商城一体化运营不再是难题</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">开发迅速</h4>
                        <p class="card-text">基于ThinkPHP5.0开发框架，免费开源，优化开发流程，详细二手开发手册定制开发更简单</p>
                    </div>
                </div>
            </div>
            <div class="card-group">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">轻松覆盖全行业</h4>
                        <p class="card-text">开发简单，扩展性强，微商城、微社区新闻小程序、微信开发、小程序开发、轻松覆盖</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">丰富的功能模块</h4>
                        <p class="card-text">为小程序和商城提供丰富的插件下载，个性化定制轻而易举</p>
                    </div>
                </div>
            </div>
            <div class="card-group">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">强大技术支持</h4>
                        <p class="card-text">强大的互联网技术团队，多年微信开发经验，贯穿小程序开发和微信开发，提供更安全稳定的系统支持</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">完善售后体系</h4>
                        <p class="card-text">提供专业的1对1技术咨询，结合强大的系统保障能力，快速解决微信开发，小程序开发的各种疑难杂症</p>
                    </div>
                </div>
            </div>
        </div>
        <i class="fa fa-angle-double-down fa-2x"></i>
    </div>

    <div class="new_start four section">
        <!--<i class="fa fa-angle-double-up fa-2x"></i>-->
        <div class="customization">
            <h1 class="new_start_title">用心定制，做最满意的微信开发</h1>
            <h4>多年微信开发经验，提供更安全稳定的系统支持</h4>
            <a class="btn" href="{:U('home/index/service')}" data-toggle="modal" data-target="#myModal">立即定制</a>
        </div>
        <div class="card-group">
            <div class="card left">
                <img class="icon" src="__IMG__/oweb/icon1.png" alt="weiphp产品说明">
                <span>WeiPHP定制开发，一站式开发新体验，<br>
                    基于WeiPHP为您开发，周期更短，成本更低<br>
                    提供成熟的行业解决方案，助理企业成功<br>
                    小程序开发，公众号开发，微商城定制等等...<br>
                    你想要的定制，我们都能帮你实现
                </span>
            </div>
            <div class="card right">
                <img calss="icon" src="__IMG__/oweb/icon2.png" alt="定制开发说明">
                <span>
                    强大的开发团队,完善的服务<br>
                    提供微信商城、公众号开发、小程序开发、微信开发等<br>
                    一体化微信营销解决方案，专注微信开发，小程序开发<br>
                    丰富的微信开发内容案例，为您提供不一样的定制服务<br>
                    实现高品质，高效率，低价格
                </span>
            </div>
        </div>
        <i class="fa fa-angle-double-down fa-2x"></i>
    </div>

    <div class="new_start five section">
        <!--<i class="fa fa-angle-double-up fa-2x"></i>-->
        <div class="share">
            <h1 class="new_start_title">分享这件事，一直没有忘</h1>
            <h4>多年微信开发经验，提供更安全稳定的系统支持</h4>
        </div>
        <div class="share">
            <h3 class="">圆梦云培训上线</h3>
            <span>
                不忘开源的本意，不仅专注于技术，<br>
                更要专注与分享资深大牛变身班主任全程跟踪授课<br>
                从WeiPHP开发到各种课程，应有尽有要分享，更在意效果
            </span>
            <br>
            <button class="btn" disabled="disabled">敬请期待</button>
        </div>
        <i class="fa fa-angle-double-down fa-2x"></i>
    </div>

    <div class="new_start six section">
        <!--<i class="fa fa-angle-double-up fa-2x"></i>-->
        <div class="news_imformation">
            <h1 class="new_start_title">新闻动态</h1>
            <h4>科技前沿、大咖直播、活动会展，每天更新不停</h4>
        </div>
        <div class="news_imformation news_group">
            {volist name="newsLists" id="vo"}
            	{if condition="($key%2)==0"}
            		 <ul class="list-group groups">
		                <li class="list-group-item">
		                    <div class="news_date">
		                        <h1 class="date">{$vo.cTime|time_format='d'}</h1>
		                        <span class="month">{$vo.cTime|time_format='Ym'}</span>
		                    </div>
		                    <div class="news_detail">
		                    	<a href="{:U('home/index/news_detail',['id'=>$vo['id']])}">
			                        <p class="news_title" title="{$vo.title}">【官方新闻】{$vo.title}</p>
			                        <p class="news_content">{$vo.content}</p>
		                        </a>
		                    </div>
		                </li>
		             
            	{else/}
		                  <li class="list-group-item">
		                    <div class="news_date">
		                        <h1 class="date">{$vo.cTime|time_format='d'}</h1>
		                        <span class="month">{$vo.cTime|time_format='Ym'}</span>
		                    </div>
		                    <div class="news_detail">
		                    	<a href="{:U('home/index/news_detail',['id'=>$vo['id']])}">
		                        <p class="news_title" title="{$vo.title}">【官方新闻】{$vo.title}</p>
		                        <p class="news_content">{$vo.content}</p>
		                        </a>
		                    </div>
		                </li>
		             </ul>
            	{/if}
            {/volist}
        </div>
        <div class="hot_keyword">
            <h2 class="friendship_link">友情链接</h2>
            <a href="http://www.thinkphp.cn" target="_blank" title="Thinkphp">ThinkPHP框架</a>
            <a href="https://www.sohu.com/" target="_blank">搜狐</a>
            <a href="http://www.163.com/" target="_blank">网易</a>
            <a href="http://www.sina.com.cn/" target="_blank">新浪</a>
            <a href="http://www.qq.com/" target="_blank">腾讯</a>
            <a href="http://www.zol.com.cn/" target="_blank">中关村在线</a>
            <a href="http://tool.chinaz.com/" target="_blank">站长工具</a>
        </div>

    </div>
        <!-- 友情链接 -->
        {include file="index/_footer" /}

    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
                <div class="contact getqrcode">
                    <img src="__IMG__/oweb/code.jpg" alt="联系我们的微信二维码">
                    <span>扫码联系我们</span>
                </div>
    </div><!-- /.modal -->
</div>
</body>
<script>
    $(document).ready(function() {
        $('#fullpage').fullpage({
            licenseKey: 'OPEN-SOURCE-GPLV3-LICENSE',
            navigation: true,
            verticalCentered: true

        });
    });
</script>
</html>