{include file="_head" /}
    <div class="wrap">
   	<div class="content">
    	<h5>简介</h5>

<p>
weiphp是一个开源，高效，简洁的微信开发平台，它是基于oneThink这个简单而强大的内容管理框架实现的。如你想深入理解和学习本开发平台，后续请研读oneThink的开发手册（http://document.onethink.cn/manual_1_0.html）
</p>
<p>
weiphp的目的是最大化的简化微信开发的流程，使用开发者能把最好的精力放到微信具体业务开发，并能以最快的时间完成。把一些常规而频繁的工作交由weiphp来处理即可。
为此weiphp提供了详细的二次开发文档，关键代码里还是相关的注释说明。weiphp采用插件的方式实现微信功能，不同的插件实现不同的微信功能，如下图所示就是weiphp前期自带的插件。</p>
<h5>主要特性</h5>
<p>
1、基于oneThink 1.0正式版<br/>
2、开源免费，weiphp遵循Apache2开源协议,免费提供使用。<br/>
3、支持多用户多公众号管理<br/>
4、详细的二次开发文档，并不断更新增加相关开发案例提供学习参考<br/>
5、微信功能插件化开发，更易于定制和二次开发<br/>
6、提供丰富的应用插件下载安装使用，总有一些是符合或接近你的需求
</p>

<h5>主要功能</h5>
<p>
2、微信接口消息交互系统<br/>
3、应用插件管理系统<br/>
4、用户Passport系统<br/>
5、配置管理系统<br/>
6、后台建模系统<br/>
7、用户行为系统<br/>
8、系统日志系统 <br/>
9、数据备份和还原<br/>


11、微信多用户多公众号管理系统<br/>
10、微信扫描登录
</p>

    </div>
    </div>
{include file="_footer" /}