<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="小程序开发，微信开发，小程序商城，weiphp，店付宝，公众号开发，微信商城" name="keywords"/>
    <meta content="小程序开发，微信开发，商城小程序，小程序定制开发-深圳市圆梦云科技有限公司，店付宝小程序，微信小程序，微信商城，weiphp,新零售|O2O模式|餐饮|小程序开发|社区|门店|教育|教程|视频|解决方案" name="description"/>
    <link rel="shortcut icon" href="{:SITE_URL}/favicon.ico">
    <title>weiphp|小程序开发|微信开发|微信小程序开发|小程序定制开发|小程序商城|weiphp店付宝|公众号|小程序|圆梦云</title>
    <link type="text/css" rel="stylesheet" href="__CSS__/oweb.css?v={:SITE_VERSION}" />
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css"></head>
	<script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js"></script>
</head>
<body>
{include file="index/_head" /}

<div class="body">
    <div class="news news_banner">
            <!--<div >-->
                <!--<h1>价值咨询</h1>-->
                <!--<p>我们与时代并进，不断吸取新鲜理念</p>-->
            <!--</div>-->
    </div>
    <div class="news news_detail">
        <div class="news_title">新闻详情</div>
        <div class="news_content">
            <h3>{$news.title}</h3>
            <!-- <p><span>可以小程序开发的圆梦云为你带来一篇美文，请鉴赏！每个人的人生旅途，千条万条，分支无数，但每走一步，都需要作出艰巨的挑选。没有谁能预知本人所要走的那条路是相对正确的、或许是相对能通向成功的？没有，相对没有。在路上的我们会无数次的站在人生的十字路口，看着眼前的路作出无数次不同的决定，向左走还是向右走？没有经历，没有导游，没有提示，没有路标，一切都要仰仗本人的勇气，作出挑选和决定。这样走下去，或许会成功走向彼岸，也可以会以失利告终。但我们不能放弃，我们的人生舞台也正由于没有彩排，没有重演，才更显出它的奥秘与魅力了！由于前途莫测，所以充满了引诱与挑衅，由于无法重来，所以更显悲壮与豪放，正是由于压力与挑衅并存，引诱与机会同在，人生才如此的波涛壮阔多姿多彩，让我们各自的人生之路富饶特色。因此我们的每一个挑选和决定，都必须沉思熟虑，深谋远虑，要对本人担任，对命运担任，对本人所要开辟的人生之路担任。</span>
            </p> -->
            {$news.content|raw}
        </div>
    </div>
</div>

{include file="index/_footer" /}
<script>
    $(document).ready(function(){
        var width = $(window).width();
        var docwidth = $(document).width();
        var height = width;
        $(".news.news_banner").css({'width' : width * 0.9, 'height': height * 0.2});
        $(".news.news_detail").css({ 'width' : width * 0.9});
        $(".head").css('width',width);
        $(".foot").css('width',width);
        $(window).resize(function () {
            var width = $(window).width();
            var height = width;
            $(".news.news_banner").css({'width' : width * 0.9, 'height': height * 0.2});
            $(".news.news_detail").css({ 'width' : width * 0.9});
            $(".head").css('width',width);
            $(".foot").css('width',width);
        })
    })
</script>
</body>
</html>