<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="小程序开发，微信开发，小程序商城，weiphp，店付宝，公众号开发，微信商城" name="keywords"/>
    <meta content="小程序开发，微信开发，商城小程序，小程序定制开发-深圳市圆梦云科技有限公司，店付宝小程序，微信小程序，微信商城，weiphp,新零售|O2O模式|餐饮|小程序开发|社区|门店|教育|教程|视频|解决方案" name="description"/>
    <link rel="shortcut icon" href="{:SITE_URL}/favicon.ico">
    <title>定制开发|weiphp|小程序开发|微信开发|微信小程序开发|小程序定制开发|小程序商城|weiphp店付宝|公众号|小程序|圆梦云</title>    
    <link type="text/css" rel="stylesheet" href="__CSS__/oweb.css?v={:SITE_VERSION}" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body>
{include file="index/_head" /}
<div class="body">
    <div class="service one">
        <div class="integration">
            <h1>一体化定制服务</h1>
            <h6>专业、快速、全方面一体化服务，专注微信开发、公众号开发、小程序开发，满足各种定制需求
                使用自研WeiPHP自研微信框架，开发迅速。提供多行业解决方案，微商城、微营销，为您高效引流，强大的团队技术支持，您有想法，我们帮您实现理想。
            </h6>
            <button class="btn" data-toggle="modal" data-target="#myModal">立即定制</button>
        </div>
        <div class="contact getqrcode">
            <img src="__IMG__/oweb/code.jpg">
            <span>0755-23729769</span><br>
            <span>专属客服,为您一对一服务</span>
        </div>
    </div>
    <div class="service two">
        <div class="bubbles bubbles1">
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
        </div>
        <div class="business_header">
            <span>业务</span>
        </div>
        <div class="business">
            <div class="card-group">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img" src="__IMG__/oweb/icon01.jpg">
                        <h5 class="card-title">微信公众号/小程序</h5>
                        <p class="business_imformation">专业的微信服务平台，功能强大，轻松实现精准需求
                            提供微商城、公众号开发、小程序开发、微信开发等
                            多行业一体化微信营销解决方案</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <img class="card-img" src="__IMG__/oweb/icon02.jpg">
                        <h5 class="card-title">微商城</h5>
                        <p class="business_imformation">多种营销工具为你高效引流
                            一个后台即可用于小程序商城和公众号商城
                            高效运营</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <img class="card-img" src="__IMG__/oweb/icon03.jpg">
                        <h5 class="card-title">互联网+解决方案</h5>
                        <p class="business_imformation">多年互联网经验，全行业解决方案覆盖
                            我们总有一款能解决你行业痛点
                            连接海量互联网用户的方案</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="service three">
        <div class="bubbles bubbles2">
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
        </div>
        <div class="advantage_header">
            <span>我们的优势</span>
        </div>
        <div class="advantage">
            <div class="card-group">

                <div class="card">
                    <img class="card-img" src="__IMG__/oweb/adv_icon1.jpg">
                    <div class="card-body">
                        <p>进度完全可控</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img" src="__IMG__/oweb/adv_icon2.jpg">
                    <div class="card-body">
                        <p>无延期风险</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img" src="__IMG__/oweb/adv_icon3.jpg">
                    <div class="card-body">
                        <p>高性价比</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img" src="__IMG__/oweb/adv_icon4.jpg">
                    <div class="card-body">
                        <p>提供成熟方案</p>
                    </div>
                </div>
            </div>
            <div class="card-group">
                <div class="card">
                    <img class="card-img" src="__IMG__/oweb/adv_icon5.jpg">
                    <div class="card-body">
                        <p>更优惠价格</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img" src="__IMG__/oweb/adv_icon6.jpg">
                    <div class="card-body">
                        <span>丰富的互联网经验</span>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img" src="__IMG__/oweb/adv_icon7.jpg">
                    <div class="card-body">
                        <p>完善的售后服务</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img" src="__IMG__/oweb/adv_icon8.jpg">
                    <div class="card-body">
                        <p>售前一对一咨询</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

    <div class="service four">
        <div class="bubbles bubbles3">
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
        </div>
        <div class="cases_header">
            <span>客户案例</span>
        </div>
        <div class="cases">
            <div class="card-group">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img" src="__IMG__/oweb/img01.jpg"/>
                        <!--<div class="hide_scroll">-->
                            <p class="case_imformation">
                                快验保(香港)有限公司于1995年成立，将流动验身这崭新的服务概念带至亚洲。快验保现为亚洲最大之保险验身集团，为北美及亚洲超过八十间保险公司及多间国际机构服务。除了受保前验身外，快验保更于旺角及铜锣湾设有健</p>
                        <!--</div>-->
                        <a class="case_link" href="">快验保（香港）有限公司</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <img class="card-img" src="__IMG__/oweb/img02.jpg"/>
                        <!--<div class="hide_scroll">-->
                            <p class="case_imformation">
                                深圳市盛讯珠首饰有限公司是一家专业从事珠宝首饰管理信息化的高科技软件公司，从2002年起，从事首饰零售终端，对珠宝零售连锁行业有着独特的见解，随着公司规模不断扩大，市场上的软件在功能上很难跟上公司发展需</p>
                        <!--</div>-->
                        <a class="case_link" href="">深圳市盛讯珠宝有限公司</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <img class="card-img" src="__IMG__/oweb/img03.jpg"/>
                        <!--<div class="hide_scroll">-->
                            <p class="case_imformation">中信银行（CHINA CITIC
                                BANK）原称中信实业银行，创立于1987年，2005年底改为现名。中信银行是中国的全国性商业银行之一，总部位于北京。主要股东是中国中信股份有限公司。</p>
                        <!--</div>-->
                        <a class="case_link" href="">中信银行股份有限公司</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="index/_footer" /}

<!--模态框-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="contact getqrcode">
            <img src="__IMG__/oweb/code.jpg">
            <span>扫码联系我们</span>
        </div>
    </div><!-- /.modal -->
</div>
<script>
    $(document).ready(function(){
        var width = $(window).width();
        var docwidth = $(document).width();
        var height = width;
        $(".service").css({'width' : width, 'height': height * 0.4});
        $(".head").css('width',width);
        $(".foot").css('width',width);
        $(window).resize(function () {
            var width = $(window).width();
            var height = width;
            $(".service").css({'width' : width, 'height': height * 0.4});
            $(".head").css('width',width);
            $(".foot").css('width',width);
        })
    })
</script>
</body>
</html>