{include file="common@base/mobile_head" /}

<a href="javascript:void(0)" class="btn" onclick="doPay()">确认结算</a>
<script type="text/javascript">
function jsApiCall(){
   WeixinJSBridge.invoke(
       'getBrandWCPayRequest', {
           "appId":"{$pay.appId}",     //公众号名称，由商户传入     
           "timeStamp":"{$pay.timeStamp}",         //时间戳，自1970年以来的秒数     
           "nonceStr":"{$pay.nonceStr}", //随机串     
           "package":"{$pay.package}",     
           "signType":"{$pay.signType}",         //微信签名方式：     
           "paySign":"{$pay.paySign}" //微信签名 
       },
       function(res){     
           if(res.err_msg == "get_brand_wcpay_request:ok" ) {
			   window.location.href = "{$pay.jumpUrl}";
		   }
       }
   ); 
}
function doPay(){
	if (typeof WeixinJSBridge == "undefined"){
	   if( document.addEventListener ){
		   document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
	   }else if (document.attachEvent){
		   document.attachEvent('WeixinJSBridgeReady', jsApiCall); 
		   document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
	   }
	}else{
		jsApiCall()
	}
}
</script>
