{extend name="publics/base"/}

{block name="body"}
    <div class="main-title">
        <h2>{:isset($info['id'])?'编辑':'新增'}公告</h2>
    </div>
    <form action="{$postUrl}" method="post" class="form-horizontal">
        <div class="form-item">
            <label class="item-label">标题</label>
            <div class="controls">
                <input type="text" class="text input-large" name="title" value="{$info.title|default=''}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">内容</label>
            <div class="controls" style="width:600px" >
             <label class="textarea">
                <textarea name="content" >{$info.content|raw}</textarea>
                 {:W('common/editor/adminArticleEdit', array('name'=>'content','value'=>$info['content']))}
                 </label>
            </div>
        </div>
        
        <div class="form-item">
            <input type="hidden" name="id" value="{$info.id|default=''}">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
{/block}
