{extend name="common@base/common" /}
{block name="body"}
  <div class="span9 page_message">
    <section id="contents"> 
      <div class="setting_step app_setting content_step" style="margin-top:20px;">
         <a class="step " href="{:U('wei_site/template/lists',array('mdm'=>I('mdm')))}">1.选择列表模板</a>
       	 <a class="step step_cur" href="{:U('wei_site/template/detail',array('mdm'=>I('mdm')))}">2.选择内容模板</a>
         <a class="step step_cur_1" href="{:U('wei_site/Cms/lists',array('mdm'=>I('mdm')))}">3.内容管理</a> 
         <a class="step " href="{:U('wei_site/WeiSite/preview_cms',array('mdm'=>I('mdm')))}">4.效果预览</a>
  </div>
     
   
      {if condition="$add_button || $del_button || $search_button || !empty($top_more_button)"}   
      <div class="table-bar">
        <div class="fl">
          {empty name="model.extend"}
			<div class="tools">
				{if condition="$add_button"}{php} isset($add_url) || $add_url = U('add?model='.$model['id'], $get_param);{/php}<a class="btn" href="{$add_url}">新 增</a>{/if}
				{if condition="$del_button"}{php} isset($del_url) || $del_url = U('del?model='.$model['id'], $get_param);{/php}<button class="btn ajax-post confirm" target-form="ids" url="{$del_url}">删 除</button>{/if}    
                {volist name="top_more_button" id="vo"}
                {if condition="$vo['is_buttion']"}
                <button class="btn {$vo.class}" target-form="ids" url="{$vo.url}">{$vo.title}</button>
                {else/}
                <a class="btn" href="{$vo.url}">{$vo.title}</a>
                {/if}
                &nbsp;
                {/volist}            
			</div>
          {/empty}
        </div>
        <!-- 高级搜索 -->
        {if condition="$search_button"}
        <div class="search-form fr cf">
          <div class="sleft">
          {php}empty($search_key) && $search_key=$model['search_key'];empty($search_key) && $search_key='title';unset($get_param[$search_key]);{/php}
            {php} isset($model['name']) && $get_param['model']=$model['name']; isset($search_url) || $search_url = U(MODULE_NAME.'/'.CONTROLLER_NAME.'/lists', $get_param);{/php}
            
            <input type="text" name="{$search_key}" class="search-input" value="{:I($search_key)}" placeholder="请输入标题">
            <a class="sch-btn" href="javascript:;" id="search" url="{$search_url}"><i class="btn-search"></i></a> </div>
        </div>
        {/if}
        <!-- 多维过滤 -->
        {notempty name="muti_search"}
        <form class="muti_search cf">
          <div style="line-height: 30px;">
          {volist name='muti_search' id='vo'}
          {switch name="vo.type"}
                {case value="select"}
                    <span>{$vo.title}：</span>
                    <select name="{$vo.name}" class="search-input input-small">
                    {volist name='vo.options' id='option'}
                    <option value="{$option.value}" {eq name='option.default_value' value='option.value'}selected{/eq} >{$option.title}</option>
                    {/volist}                    
                    </select>
                {/case}
                {case value="datetime"}
                    <span>{$vo.title}：</span>
             <input type="datetime" name="start_time" class="search-input date input-small" value="{$vo.start_time}" placeholder="请选择时间">
             <span>至</span>
             <input type="datetime" name="end_time" class="search-input date input-small" value="{$vo.end_time}" placeholder="请选择时间">
                {/case}
                {case value="checkbox"}
                    <span>{$vo.title}：</span>
                    {volist name='vo.options' id='option'}
                    <input autocomplete="off"  type="checkbox" name="{$option.name}" value="{$option.value}" {eq name='option.default_value' value='option.value'}checked{/eq} >{$option.title}
                    {/volist}
                {/case}
                {case value="radio"}
                    <span>{$vo.title}：</span>
                    {volist name='vo.options' id='option'}
                    <input type="radio" name="{$option.name}" value="{$option.value}" {eq name='option.default_value' value='option.value'}checked{/eq} >{$option.title}
                    {/volist}
                {/case}
                  
             
            {/switch}
            {/volist}
             
             <!-- <a class="sort " href="#" title="排序">排序:高->低</a> -->
             <button type="button" class="sch-btn btn" href="javascript:;" id="search">搜索</button> </div>
        </form>
        {/notempty}
      </div>
      {/if}
      <!-- 数据列表 -->
      <div class="data-table">
        <div class="table-striped">
          <table cellspacing="1">
            <!-- 表头 -->
            <thead>
              <tr>
                {if condition="$check_all"}<th class="row-selected row-selected"> <input autocomplete="off"  type="checkbox" id="checkAll" class="check-all regular-checkbox"><label for="checkAll"></label></th>{/if}
                {volist name="list_grids" id="field"}
                  <th {notempty name="field.width"}width="{$field.width}%"{/notempty} >{$field.title}</th>
                {/volist}
              </tr>
            </thead>
            
            <!-- 列表 -->
            <tbody>
              {volist name="list_data" id="data"}
                <tr>
                  {if condition="$check_all"}<td><input autocomplete="off"  class="ids regular-checkbox" type="checkbox" value="{$data['id']}" name="ids[]" id="check_{$data['id']}"><label for="check_{$data['id']}"></label></td>{/if}
                  {volist name="list_grids" id="grid"}
                    {if ($grid.raw == 1) OR ($grid.come_from == 1) }<td>{$data[$key]|raw}</td>{else /}<td>{$data[$key]}</td>{/if}
                  {/volist}
                </tr>
              {/volist}
            </tbody>
          </table>
        </div>
      </div>
      <div class="page"> {$_page|raw|default=''} </div>
    </section>
  </div>
{/block}
{block name="script"} 
  <script type="text/javascript">
$(function(){
	//搜索功能
  $("#search").click(function(){
    var url = $(this).attr('url');
    var str = $('.search-input').val()
        var query  = $('.search-input').attr('name')+'='+str.replace(/(^\s*)|(\s*$)/g,"");

        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		url = change_search_url(url);
    window.location.href = url;
  }); 

    //回车自动提交
    $('.search-form').find('input').keyup(function(event){
        if(event.keyCode===13){
            $("#search").click();
        }
    });

})
</script> 
{/block}
