{extend name="common@base/common" /}
{block name="body"}
<style type="text/css">
input[type="datetime"]{margin: 0 4px 0;padding: 2px;width: 100px;text-align: center;vertical-align: top;}
.btn{padding: 3px 16px;}
.fz16{font-size: 16px;}
.fz24{font-size: 24px;}
.als_user_nav{border-bottom: 1px solid #969696;}
.als_user_nav a{display: inline-block; padding: 6px 12px; color: #404040; margin-bottom: -1px;}
.als_user_nav a.cur{border-bottom: 3px solid #42b0e4;  color: #4097ce;}
.als_arrow_up,.als_arrow_down{display: inline-block;width: 14px;height: 18px;vertical-align: text-top;}
.als_arrow_up{background: url(__IMG__/als_arrow_up.png) no-repeat center;}
.als_arrow_down{background: url(__IMG__/als_arrow_down.png) no-repeat center;}
.table-striped{text-align: center;  margin: 30px 0;}
.table-striped td{padding:6px;}
.table-striped td p{line-height: 1.5;}
.als_user span{padding: 2px 6px;border:1px solid #8C8C8C;cursor:pointer;}
.als_user span:nth-of-type(1){  border-top-left-radius: 4px; border-bottom-left-radius: 4px;}
.als_user span:nth-last-of-type(1){  border-top-right-radius: 4px; border-bottom-right-radius: 4px;}
.als_user span.cur{ background: #42B0E4; color: #fff; border-color: #42b0e4;}
.table-striped thead td span{padding: 0 4px;border:1px solid #8C8C8C;cursor:pointer;}
.table-striped thead td span.cur{ background: #42B0E4; color: #fff; border-color: #42b0e4;}

.pagination .btn {
	display: inline-block;
	overflow: visible;
	padding: 0 22px;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-size: 14px;
	border-width: 1px;
	border-style: solid;
	cursor: pointer;
}
.btn.page_prev .arrow, .btn.page_next .arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -6px;
    margin-left: -3px;
}
.page_prev .arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: dashed;
    border-color: transparent;
    border-left-width: 0;
    border-right-color: #919191;
    border-right-style: solid;
}
i, cite, em, var, address, dfn {
    font-style: italic;
}
.btn.page_prev, .btn.page_next {
	position: relative;
	font-size: 0;
	letter-spacing: -5px;
	background-color: #fff;
	background-image: -moz-linear-gradient(top, #fff 0, #fff 100%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff),
		to(#fff));
	background-image: -webkit-linear-gradient(top, #fff 0, #fff 100%);
	background-image: -o-linear-gradient(top, #fff 0, #fff 100%);
	background-image: linear-gradient(to bottom, #fff 0, #fff 100%);
	border-color: #e6e7ec;
	color: #222;
	height: 30px;
	line-height: 30px;
	width: auto;
	padding-left: 14px;
	padding-right: 14px;
}

.page_next .arrow {
	display: inline-block;
	width: 0;
	height: 0;
	border-width: 6px;
	border-style: dashed;
	border-color: transparent;
	border-right-width: 0;
	border-left-color: #919191;
	border-left-style: solid;
}

.btn.page_last:hover button, .btn.page_go:hover button {
	color: #222
}

.btn.page_last:hover, .btn.page_go:hover {
	background-color: #e6e7ec;
	background-image: -moz-linear-gradient(top, #e6e7ec 0, #e6e7ec 100%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e6e7ec),
		to(#e6e7ec));
	background-image: -webkit-linear-gradient(top, #e6e7ec 0, #e6e7ec 100%);
	background-image: -o-linear-gradient(top, #e6e7ec 0, #e6e7ec 100%);
	background-image: linear-gradient(to bottom, #e6e7ec 0, #e6e7ec 100%);
	border-color: #dadbe0;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	color: #000
}

.page_num {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	*margin-right: 4px;
	letter-spacing: normal
}

.goto_area {
	margin-left: 8px
}

.goto_area input[type="text"] {
	vertical-align: middle;
	width: 75px;
	height: 22px;
	line-height: 22px;
	padding: 4px 0;
	border: 1px solid #e7e7eb;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	text-align: center;
	font-size: 14px;
	margin-right: 4px
}
.loading{display: none; position: absolute;left: 50%;top:50%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%); width: 100%;height: 100%;background:rgba(0,0,0,0.7) url(__IMG__/icon32_loading_dark.gif) no-repeat center;border-radius: 8px;}
</style>
  <div class="span9 page_message">
    <section id="contents">
      {include file="common@base/_nav" /} 
      <div class="table-bar">
            <p class="fz16">用户分析</p>
            <div class="als_user_nav">
              <a href="{:U('userGrowAls'))}" class="cur">用户增长</a><!-- <a href="{:U('userAttrAls')}">用户属性</a> -->
            </div>
      </div>
      <!-- 数据列表 -->
      <div class="data-table">
        <div class="table-striped">
          <table cellspacing="1">
            <!-- 表头 -->
            <thead>
              <tr>
                 <td colspan="2" align="left">昨日关键指标</td>
              </tr>
            </thead>

            <!-- 列表 -->
            <tbody>
                <tr>
                  <td width="50%">
                      <p class="fz16">新注册用户数</p>
                      <p class="fz24">{$user_counts.now_count}</p>
                      {if condition="$user_counts['day_change'] lt 0"}
                      	<p>日<i class="als_arrow_down"></i>{$user_counts['day_change']|abs}%</p>
                      <elseif condition="$user_counts['day_change'] egt 0" />
                      	<p>日<i class="als_arrow_up"></i>{$user_counts['day_change']|abs}%</p>
                      {else/}
                      	<p>日  --</p>
                      {/if}
                      {if condition="$user_counts['week_change'] lt 0"}
                      	<p>周<i class="als_arrow_down"></i>{$user_counts['week_change']|abs}%</p>
                      <elseif condition="$user_counts['week_change'] egt 0" />
                      	<p>周<i class="als_arrow_up"></i>{$user_counts['week_change']|abs}%</p>
                      {else/}
                      	<p>周  --</p>
                      {/if}
                      {if condition="$user_counts['month_change'] lt 0"}
                      	<p>月<i class="als_arrow_down"></i>{$user_counts['month_change']|abs}%</p>
                      <elseif condition="$user_counts['month_change'] egt 0" />
                      	<p>月<i class="als_arrow_up"></i>{$user_counts['month_change']|abs}%</p>
                      {else/}
                      	<p>月  --</p>
                      {/if}
                  </td>
                  <td width="50%">
                      <p class="fz16">累积注册用户数</p>
                      <p class="fz24">{$total_count.now_count}</p>
                      {if condition="$total_count['day_change'] lt 0"}
                      	<p>日<i class="als_arrow_down"></i>{$total_count['day_change']|abs}%</p>
                      <elseif condition="$total_count['day_change'] egt 0" />
                      	<p>日<i class="als_arrow_up"></i>{$total_count['day_change']|abs}%</p>
                      {else/}
                      	<p>日  --</p>
                      {/if}
                      {if condition="$total_count['week_change'] lt 0"}
                      	<p>周<i class="als_arrow_down"></i>{$total_count['week_change']|abs}%</p>
                      <elseif condition="$total_count['week_change'] egt 0" />
                      	<p>周<i class="als_arrow_up"></i>{$total_count['week_change']|abs}%</p>
                      {else/}
                      	<p>周  --</p>
                      {/if}
                      {if condition="$total_count['month_change'] lt 0"}
                      	<p>月<i class="als_arrow_down"></i>{$total_count['month_change']|abs}%</p>
                      <elseif condition="$total_count['month_change'] egt 0" />
                      	<p>月<i class="als_arrow_up"></i>{$total_count['month_change']|abs}%</p>
                      {else/}
                      	<p>月  --</p>
                      {/if}
                  </td>
                </tr>
            </tbody>
          </table>
        </div>

        <div class="als_user" id="change_type">
            <span class="cur als_user_tab" data-type=0>新增人数</span><span class="als_user_tab" data-type=1>累积人数</span>
        </div>

        <div id="table_als_1" class="table-striped" style="text-align:left;">
          <table cellspacing="0" >
            <!-- 表头 -->
            <thead>

                <tr>
                  <td colspan="3">
                  <span class="cur als_tab sevenDay" data-day="7">最近7天</span><span class="als_tab fourteenDay" data-day="14">最近14天</span><span class="als_tab thirtyDay" data-day="30">最近30天</span>
                    &emsp;自定义：<input type="datetime"  class="time1" name="start_time">至<input type="datetime"  class="time2" name="end_time"><a href="javascript:;" class="btn" id="queryid1">查询</a>
                    <a href="javascript:;" class="fr"  id="down_table">下载表格</a>
                  </td>
                </tr>
                <tr>
                  <td colspan="3"><div id="container" style="min-width:700px;height:400px"></div></td>
                </tr>
                <tr>
                  <td>日期</td>
                  <td>新注册用户数</td>
                  <td>累积注册用户数</td>
                </tr>

            </thead>

            <!-- 列表 -->
            <tbody  id='tbody_data'>
            </tbody>
          </table>
        </div>


      </div>
      <div class="page"> {$_page|default=''} </div>
      <!--  div class="loading"></div-->
    </section>
  </div>
{/block}
{block name="script"} 
  <link href="__STATIC__/datetimepicker/css/datetimepicker.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
  {php}if(config('COLOR_STYLE')=='blue_color') echo '
  <link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
    ';{/php}
  <link href="__STATIC__/datetimepicker/css/dropdown.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.js"></script>
  <script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js?v={:SITE_VERSION}" charset="UTF-8"></script>
   <script type="text/javascript" src="__STATIC__/highcharts-4.0.1/js/highcharts.js"></script>
<script type="text/javascript" src="__STATIC__/highcharts-4.0.1/js/highcharts-3d.js"></script>
  <script type="text/javascript">

$(function(){

  var now = new Date();
  var nowY = now.getFullYear()
  var nowM = now.getMonth()+1;  //月份0-11
  var nowD = now.getDate()
  var yday = new Date((new Date).getTime() - 6048e5/7); //最近7天
  var week = new Date((new Date).getTime() - 6048e5); //最近7天
  var week2= new Date((new Date).getTime() - 12096e5); //最近14天
  var month =  new Date((new Date).getTime() - 2592e6); //最近30天
  var tabDay = "";


  if(nowM<10) nowM="0" + nowM
  if(nowD<10) nowD="0" + nowD
    //开始时间
    $(' .time1').datetimepicker({
        format: 'yyyy-mm-dd',
        language:"zh-CN",
        minView: "month",
        endDate: yday,
        autoclose: !0,
        todayHighlight: !0,
    });
    //结束时间
    $(' .time2').datetimepicker({
        format: 'yyyy-mm-dd',
        language:"zh-CN",
        minView: "month",
        startDate: week,
        endDate: yday,
        autoclose: !0,
        todayHighlight: !0,
    });
    $(" .time1").datetimepicker("setDate", week);
    //$(".time2").datetimepicker("setDate", now);
    $(" .time2").val('{$yday}');

    $(" .als_tab").on("click", function() {

        $(this).addClass("cur").siblings().removeClass("cur")
        var num = $(this).data('day');
        if(num==7){
          tabDay = week;
        }else if(num==14){
          tabDay = week2;
        }else if(num==30){
          tabDay = month;
        }
        $(" .time1").datetimepicker("setDate", tabDay)
        $(" .time2").datetimepicker("setStartDate", new Date($(".time1").val()))
        $(".time2").val('{$yday}');
         var type = 0;
	    $("#change_type .cur").each(function(){
	    	type = $(this).data('type');
		});
        setData(num,'','',type);
    });

    $(" input[type='datetime']").on("click", function() {

        $(".time1").datetimepicker().off("changeDate").on("changeDate", function() {
            //$(".time1").datetimepicker("setEndDate", new Date($(".time2").val()))
            var month_2 = new Date($(".time1").val()).getTime()+2592e6*2 //60天秒数
            var nowD = new Date((new Date).getTime())                    //当前时间秒数
            if(month_2>nowD){
              month_2=yday
            }else{
              month_2 = new Date(new Date($(".time1").val()).getTime()+2592e6*2)
            }
            $(".time2").datetimepicker("setStartDate", new Date($(".time1").val()))
            $(".time2").datetimepicker("setEndDate",month_2)
            $(".time2").datetimepicker("setDate",month_2);
        })
    })
  $("#change_type .als_user_tab").on("click", function() {
        $(this).addClass("cur").siblings().removeClass("cur")
        var type = $(this).data('type');
        var num=7;
        $("#table_als_1 .cur").each(function(){
        num= $(this).data('day');
      });
        setData(num,'','',type);
    });
  setData(7,'','',0);
  $("#queryid1").click(function(){
    var st=$("#table_als_1 input[name='start_time']").val();
    var et=$("#table_als_1 input[name='end_time']").val();
     var type = 0;
    $("#change_type .cur").each(function(){
      type = $(this).data('type');
  });
    setData(0,st,et,type);
  });
  $("#queryid2").click(function(){
      var st=$("#table_als_2 input[name='start_time']").val();
      var et=$("#table_als_2 input[name='end_time']").val();
       var type = 0;
      $("#change_type .cur").each(function(){
        type = $(this).data('type');
    });
      setData(0,st,et,type);
    });
   $("#down_table").click(function(){
    var st=$("input[name='start_time']").val();
    var et=$("input[name='end_time']").val();
    window.location.href="{:U('userExport')}?start_day="+st+"&end_day="+et;
  });
});



function setData(num,stime,etime,type){
	if(type == 0){
		var title='新增人数统计图';
	}else{
		var title='累计人数统计图';
	}
  $('.loading').show();
	$.post("{:U('ajax_user_count')}",{'days':num,'start_day':stime,'end_day':etime,'utype':type},function(data){
		console.log(data);
    	//拆线图
    	    $('#container').highcharts({
    	        chart: {
    	            type: 'spline'
    	        },
    	        title: {
    	            text: title
    	        },
    	        subtitle: {
    	            text: ''
    	        },
    	        credits:{
    	            enabled:false // 禁用版权信息
    	       },
    	        xAxis: {
    	            type: 'category',
    	            categories: data.xAxis,
    	            labels: {
    	            	 step: data.x_space,
    	            	//maxStaggerLines: 10
    	            }
    	         /*    dateTimeLabelFormats: { // don't display the dummy year
    	                month: '%e',
    	                year: '%b'
    	            } */
    	        },
    	        yAxis: {
    	            title: {
    	                text: ''
    	            },
    	            min: 0
    	        },
    	        tooltip: {
    	           /*  formatter: function() {
    	                    return '<b>'+ this.series.name +'</b><br/>'+
    	                    Highcharts.dateFormat('%e. %b', this.x) +': '+ this.y +' m';
    	            } */
    	        },

    	        series: data.series
    	    });


    	//表格
    	 var obj =data.table;
    	 var row=data.row;
    	 var page=data.page;
    	 var trs = "";
    	 var i=0;
    	 var j=1;
    	  $.each(obj, function (n, value) {
    		  var showtr=i%row;
              trs += "<tr class='line line_"+j+"'><td>" + n + "</td> <td>" + value.user_count + "</td> <td>" + value.total_count + "</td></tr>";
              if(showtr == row-1){
            	  j++;
              }
              i++;
          });
    	  if(page > 1){
    		  var pagebtn='<div class="pagination" id="wxPagebar_1473496998890">';
    		  pagebtn +='<span class="page_nav_area">';
    		  pagebtn +='<a href="javascript:void(0);" class="btn page_first" style="display: none;"></a>';
    		  pagebtn +='<a href="javascript:void(0);" class="btn page_prev" style="display: none;"><i class="arrow"></i></a>';
			  pagebtn +='<span class="page_num">';
			  pagebtn +='<label id="num_show">1</label>';
			  pagebtn +=' <span class="num_gap">/</span>';
			  pagebtn +=' <label>'+page+'</label>';
			  pagebtn +=' </span>';
			  pagebtn +=' <a href="javascript:void(0);" class="btn page_next"><i class="arrow"></i></a>';
			  pagebtn +='  <a href="javascript:void(0);" class="btn page_last" style="display: none;"></a>';
		  	  pagebtn +=' </span>';
			  pagebtn +=' <span class="goto_area">';
		      pagebtn +='     <input type="text">';
			  pagebtn +='     <a href="javascript:void(0);" class="btn page_go">跳转</a>';
			  pagebtn +=' </span>';
			  pagebtn +='</div>';
    		  trs += '<tr class="showpage"><td colspan="5" align="center">'+pagebtn+'</td></tr>';
    	  }
        $('.loading').hide();
    	  $("#tbody_data").html(trs);
    	  $('.line').hide();
    	  $('.line_1').show();
    	  if(page > 1){
    		  $(".showpage").show();
    	  }
    	  //下一页
    	  $(".page_next").click(function(){
    		 var pp= parseInt($("#num_show").text());
    		 pp += 1;
    		 $('.line').hide();
    		 $('.line_'+pp).show();
    		 $("#num_show").text(pp);
    		 if(pp == page){
    			 $(".page_next").hide();
    		 }else{
    			 $(".page_next").show();
    		 }
    		 if(pp != 1){
    			 $(".page_prev").show();
    		 }else{
    			 $(".page_prev").hide();
    		 }
    	  });
    	  //上一页
    	  $(".page_prev").click(function(){
     		 var pp= parseInt($("#num_show").text());
     		 pp -= 1;
     		 $('.line').hide();
     		 $('.line_'+pp).show();
     		 $("#num_show").text(pp);
     		 if(pp == page){
     			 $(".page_next").hide();
     		 }else{
     			 $(".page_next").show();
     		 }
     		 if(pp != 1){
     			 $(".page_prev").show();
     		 }else{
     			 $(".page_prev").hide();
     		 }
     	  });
    	  //跳转
    	  $('.goto_area input').bind('blur',function(){
    		  var inp = $('.goto_area input').val();
    		  if(inp > page){
    			  inp = page;
    		  }else if(inp < 1 || isNaN (inp)){
    			  inp =1;
    		  }
    		  $('.goto_area input').val(inp);
    	  });

    	  $(".page_go").click(function(){
    		  var inp = $('.goto_area input').val();
    		  if(inp > page){
    			  inp = page;
    		  }else if(inp < 1 || isNaN (inp)){
    			  inp =1;
    		  }
      		 $('.line').hide();
      		 $('.line_'+inp).show();
      		 $("#num_show").text(inp);
      		 if(inp == page){
      			 $(".page_next").hide();
      		 }else{
      			 $(".page_next").show();
      		 }
      		 if(inp < 0){
      			 $(".page_prev").show();
      		 }else{
      			 $(".page_prev").hide();
      		 }
    	  });
    });

}
</script>
{/block}
