{extend name="index/base"/}

{block name="header"}
     <li class="done"><a href="javascript:;"><span>&nbsp;&nbsp;</span>安装协议</a></li>
    <li class="done"><a href="javascript:;"><span>&nbsp;&nbsp;</span>环境检测</a></li>
    <li  class="done"><a href="javascript:;"><span>&nbsp;&nbsp;</span>创建数据库</a></li>
    <li class="done"><a href="javascript:;"><span>&nbsp;&nbsp;</span>{eq name="Think.session.update" value="1"}升级{else/}安装{/eq}</a></li>
    <li class="done"><a href="javascript:;"><span>&nbsp;&nbsp;</span>完成</a></li>
{/block}

{block name="body"}
    <p><center>{eq name="Think.session.update" value="1"}升级{else/}安装{/eq}完成！</center></p>
	{present name="info"}
	{$info}
	{/present}
{/block}


{block name="footer"}
    <a class="btn btn-primary btn-large" href="{:SITE_URL}/index.php?s=admin">登录后台</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a class="btn btn-success btn-large" href="{:SITE_URL}">访问首页</a>
{/block}