{extend name="common@base/common" /}
{block name="body"}
  <div class="span9 page_message">
    <section id="contents"> 
      {include file="common@base/_nav" /} 
      {if condition="$add_button || $del_button || $search_button || !empty($top_more_button)"}   
      <div class="table-bar">
        <div class="fl">
          {empty name="model.extend"}
			<div class="tools">
				{if condition="$add_button"}{php} isset($add_url) || $add_url = U('add?model='.$model['id'], $get_param);{/php}<a class="btn" href="{$add_url}">新 增</a>{/if}
				{if condition="$del_button"}{php} isset($del_url) || $del_url = U('del?model='.$model['id'], $get_param);{/php}<button class="btn ajax-post confirm" target-form="ids" url="{$del_url}">删 除</button>{/if}    
                {volist name="top_more_button" id="vo"}
                {if condition="$vo['is_buttion']"}
                <button class="btn {$vo.class}" target-form="ids" url="{$vo.url}">{$vo.title}</button>
                {else/}
                <a class="btn" href="{$vo.url}">{$vo.title}</a>
                {/if}
                &nbsp;
                {/volist}            
			</div>
          {/empty}
          
         	
       
        </div>
          
        <!-- 高级搜索 -->
        {if condition="$search_button"}
        {php} $level_key = input('level_key/d', 0);{/php}
        <div class="search-form fr cf">
        <div style="float:left;margin-right:10px;">
        	<select style="width: 120px;" id='search_by_level'>
        		<option value="0" >全部用户</option>
        		{volist name="typeName" id='tt'}
        		<option value="{$key}" {if condition="$level_key eq $key"}selected=selected{/if} >{$tt}</option>
        		{/volist}
        	</select>
        </div>
        <div style="float: left; margin-right: 20px;">
     &nbsp;&nbsp;  创建日期 <input type="datetime" placeholder="请选择创建日期" value="{:input('start_ctime')}" class="text date" name="start_ctime" style="width: 150px;">
            至
            <input type="datetime" placeholder="请选择创建日期" value="{:input('end_ctime')}" class="text date" name="end_ctime" style="width: 150px;">
         &nbsp;<a href='javascript:;' class='btn' id='ctimeSearch' style='margin-top: -9px;'>查询</a>
         </div>
          <div class="sleft">
          {php}empty($search_key) && $search_key=$model['search_key'];empty($search_key) && $search_key='title';unset($get_param[$search_key]);{/php}
            {php} $get_param['model']=$model['name']; isset($search_url) || $search_url = U('lists', $get_param);{/php}
            
            <input type="text" name="{$search_key}" class="search-input" value="{:I($search_key)}" placeholder="{$placeholder}">
            <a class="sch-btn" href="javascript:;" id="search" url="{$search_url}"><i class="btn-search"></i></a> </div>
        </div>
        {/if}
        <!-- 多维过滤 -->
        {notempty name="muti_search"}
        <form class="muti_search cf">
        
         
              
          <div style="line-height: 30px;">
          {volist name='muti_search' id='vo'}
          {switch name="vo.type"}
                {case value="select"}
                    <span>{$vo.title}：</span>
                    <select name="{$vo.name}" class="search-input input-small">
                    {volist name='vo.options' id='option'}
                    <option value="{$option.value}" {eq name='option.default_value' value='option.value'}selected{/eq} >{$option.title}</option>
                    {/volist}                    
                    </select>
                {/case}
                {case value="datetime"}
                    <span>{$vo.title}：</span>
             <input type="datetime" name="start_time" class="search-input date input-small" value="{$vo.start_time}" placeholder="请选择时间">
             <span>至</span>
             <input type="datetime" name="end_time" class="search-input date input-small" value="{$vo.end_time}" placeholder="请选择时间">
                {/case}
                {case value="checkbox"}
                    <span>{$vo.title}：</span>
                    {volist name='vo.options' id='option'}
                    <input type="checkbox" name="{$option.name}" value="{$option.value}" {eq name='option.default_value' value='option.value'}checked{/eq} >{$option.title}
                    {/volist}
                {/case}
                {case value="radio"}
                    <span>{$vo.title}：</span>
                    {volist name='vo.options' id='option'}
                    <input type="radio" name="{$option.name}" value="{$option.value}" {eq name='option.default_value' value='option.value'}checked{/eq} >{$option.title}
                    {/volist}
                {/case}
                  
             
            {/switch}
            {/volist}
             
             <!-- <a class="sort " href="#" title="排序">排序:高->低</a> -->
             <button type="button" class="sch-btn btn" href="javascript:;" id="search">搜索</button> </div>
        </form>
        {/notempty}
      </div>
      {/if}
      <!-- 数据列表 -->
      <div class="data-table">
        <div class="table-striped">
          <table cellspacing="1">
            <!-- 表头 -->
            <thead>
              <tr>
                {if condition="$check_all"}<th class="row-selected row-selected"> <input type="checkbox" id="checkAll" class="check-all regular-checkbox"><label for="checkAll"></label></th>{/if}
                
                
                {volist name="list_grids" id="field"}
                  <th {notempty name="field.width"}width="{$field.width}%"{/notempty} >
                   {$field.title}
                  </th>
                {/volist}
              </tr>
            </thead>
            
            <!-- 列表 -->
              <tbody>
              {volist name="list_data" id="data"}
                <tr>
                  {if condition="$check_all"}<td><input class="ids regular-checkbox" type="checkbox" value="{$data['id']}" name="ids[]" id="check_{$data['id']}"><label for="check_{$data['id']}"></label></td>{/if}
                  {volist name="list_grids" id="grid"}
                    {if ($grid.raw == 1) OR ($grid.come_from == 1) }<td>{$data[$key]|raw}</td>{else /}<td>{$data[$key]}</td>{/if}
                  {/volist}
                </tr>
              {/volist}
            </tbody>
          </table>
        </div>
      </div>
      <div class="page"> {$_page|raw|default=''} </div>
    </section>
  </div>
{/block}
{block name="script"} 
 <link href="__STATIC__/datetimepicker/css/datetimepicker.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
  {php} if(config('COLOR_STYLE')=='blue_color') echo '
    <link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
    '; {/php}
  <link href="__STATIC__/datetimepicker/css/dropdown.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script> 
  <script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js?v={:SITE_VERSION}" charset="UTF-8"></script> 
 <link href="__STATIC__/datetimepicker/css/datetimepicker.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
  {php} if(config('COLOR_STYLE')=='blue_color') echo '
    <link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
    '; {/php}
  <link href="__STATIC__/datetimepicker/css/dropdown.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script> 
  <script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js?v={:SITE_VERSION}" charset="UTF-8"></script> 

  <script type="text/javascript">
$(function(){
	$('.time').datetimepicker({
        format: 'yyyy-mm-dd hh:ii',
        language:"zh-CN",
        minView:0,
        autoclose:true
    });
    $('.date').datetimepicker({
        format: 'yyyy-mm-dd',
        language:"zh-CN",
        minView:2,
        autoclose:true
    });	
    
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
        var query  = $('.search-form').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
        if(query == '' ){
        	url="{:U('lists')}";
        }
		url = change_search_url(url);
		window.location.href = url;
	});
	
	$("select[name='pay_type']").change(function(){
		var url = '{:U ( "Payment/PaymentOrder/lists")}?pay_type='+$(this).val();
		
        var query  = $('.type-form').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		url = change_search_url(url);
		window.location.href = url;
	});

	$("select[name='pay_status']").change(function(){
		var url = '{:U ( "Payment/PaymentOrder/lists")}?pay_status='+$(this).val();
		
        var query  = $('.type-form').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		url = change_search_url(url);
		window.location.href = url;
	});
	$('#priceSearch').click(function(){
		var min =$("input[name='minVal']").val();
		var max =$("input[name='maxVal']").val();
		var url="{:U ( 'Payment/PaymentOrder/lists')}?is_price=1&min_value="+min+"&max_value="+max;
		location.href=url;
	});
    //回车自动提交
    $('.search-form').find('input').keyup(function(event){
        if(event.keyCode===13){
            $("#search").click();
        }
    });
    
    $('#ctimeSearch').click(function(){
		var start =$("input[name='start_ctime']").val();
		var end =$("input[name='end_ctime']").val();
		if(start || end){
			var url="{:U ( 'Shop/ShopDistributionUser/lists')}?is_ctime=1&start_ctime="+start+"&end_ctime="+end;
			location.href=url;
		}
		
	});
    
    $("#search_by_level").change(function(){
    	var levelkey=$("#search_by_level option:selected").val();
    	var url="{:U ( 'Shop/ShopDistributionUser/lists')}?level_key="+levelkey;
		location.href=url;
    });

})

function do_del_user(did,level,truename){
	if(confirm("用户 ‘"+truename+"’ 是 ‘"+level+"’ 级别分销商，若删除该用户其以下级别用户也将删除，删除后不可恢复数据，请慎重操作！        确定即删除数据")){
		$.post("{:U('do_del_duser')}",{'id':did},function(res){
			if(res==0){
				alert('数据找不到！');
			}else if(res==1){
				alert('删除成功！');
				window.location.reload();
			}else{
				alert("删除失败！");
			}
		});
	}
	
}
</script> 
{/block}
