{extend name="draw@wap/common_file" /} {block name="common_body"}
<link rel="stylesheet" href="__STATIC__/default/css/egg.css">
<!-- 刮刮乐 -->
<div class="wrap activity egg">
  


  <div class="egg-area">
    <div class="lanren">
        <div class="agg"></div>
        <div class="agg"></div>
        <div class="agg"></div>
    </div>

  </div>
  <!-- 共用内容 -->
  {include file='wap/common_index' /}
  

</div>

<script type="text/javascript">

//分享
$.WeiPHP.initWxShare({
	title:'{$shareData.title}',
	desc:'{$shareData.desc}',
	link:'{$shareData.link}',
	imgUrl:'{$shareData.imgUrl}'
});

var has_subscribe = "{$has_subscribe}";
var qrcode='{$qrcode}';
var err_msg="{$err_msg}";
var join_url = "{$joinurl}";

function check_subscribe(){
  //var has_subscribe = 1;
  if(has_subscribe=="0"){
      $.WeiPHP.showSubscribeTips({'qrcode': qrcode});
    return false; 
  }else{
    return true;
  }
}
var YesorNo = true;
function aClick() {
    if(err_msg != ""){
      $.alert(err_msg);
      return false;
    }
    if(!(check_subscribe())){
      return false;
      }
   
      $(".agg").off("click", aClick);
        var _this = $(this);
        _this.parents(".lanren").addClass("paused");
        _this.html('<img src="__STATIC__/default/img/activity/hammer.png" class="hammer"><img src="__STATIC__/default/img/activity/agg-puo.png" class="agg-puo">');
        $.post(join_url,function(res){
            setTimeout(function () {
                  _this.css({background:"none"}).find(".agg-puo").show();
                  setTimeout(function () {
                      if (YesorNo == true){
                          $("#sorryBox").show();
                          YesorNo = false;
                      }else {
                          $(".lanren").hide();
                          YesorNo = true;
                      }
                       $.alert(res.msg,function(){
                         window.location.reload();
                       });
                      

                  },500);
              },250);
        })
 }

 $(".agg").on("click", aClick);

</script>

   
{/block}