{extend name="shop@wap/common_file" /} {block name="common_body"}
<script type="text/javascript" src="__STATIC__/qrcode/qrcode.js"></script>
<script type="text/javascript" src="__STATIC__/qrcode/jquery.qrcode.js"></script>


 {php}$public=get_pbid_appinfo();{/php}
 <!-- 头部导航 -->
 <div class="top-nav">
     <div class="flex">
       <i class="iconfont icon-back" id="go-back"></i>
         <slot>
             <span class="title">领取奖品</span>
         </slot>
     </div>
 </div>
<div class="wrap white-bg">
    

    
            <ul class="my-prizes">
              {notempty name='user_award' }
                <li class="flex">
                  {notempty name='user_award.img'}
                  <div class="my-prizes-img"><img src="{$user_award.img|get_cover_url}"/></div>
                  {else/}
                   <div class="my-prizes-img"><img src="__IMG__/default_goods_pic.jpg"/></div>
                  {/notempty}
                      
                      <div class="flex-item">
                        <p class="title">[{$user_award.grade}] {$user_award.award_name}</p>
                        <p class="status">状态：
                          {eq name='user_award.state' value='1'}
                          已核销兑奖
                          {else/}
                          未兑奖
                          {/eq}
                        </p>
                        <p class="colorless">时间：{$user_award.zjtime|time_format}</p>
                      </div>
                  </li>
              {/notempty}
              
            </ul>
            <div class="get_info">
              <div class='goods_get' style='text-align:center'>
              <input type='hidden' name='id' value='{$user_award.id}' />
              
              
               {php}
               
                    if($user_award['state']==0 && $is_check==0){
                    {/php}
                    
                <div class="qr_wrap">
                      <div id="qrCode"></div>
                      <p class="qr_time_tips gray f-mb15"></p>
                      <script type="text/javascript">
                      var textLink = "{:U('scan_success',array('scan_code'=>$user_award['scan_code'],'id'=>$user_award['id'],'publicid'=>$public['id']))}";
                      $('#qrCode').qrcode({width:200,height:200,text:textLink,refresh:true,time:30000}); 
                      </script>
                      <p class="qr_tips">{notempty name="user_award['scan_code']"}<h3 class="colorless">SN码：{$user_award.scan_code}</h3>{/notempty}</p>
                      <small class="">请到实体店里出示以下二维码给工作人员核销</small>
                  </div>

				 {notempty name="user_award.explain"}
                  <div class="m-explain f-pb-lg">
                    <h3>奖品说明</h3>
                    <!-- 放内容 -->
                    <p>{$user_award['explain']|raw}</p>
                  </div>
                  {/notempty}
                  
                  {php}
                  }else if($user_award['state']==1){
                  {/php}
            <div class="success_wrap">
                      <br/>
                      <center><img src="__STATIC__/default/img/succeed-icon.png" width="60"/></center>
              <center>已发放奖品！</center>
                        <br/>
                    </div>
                  {php}
                  }else if($user_award['state']==2 || $is_check==1){
                    {/php}
                    
                     <div class="success_wrap">
                      <br/>
                      <center><img src="__STATIC__/default/img/succeed-icon.png" width="60"/></center>
              <center>可以领奖，已通过验证！</center>
                        <br/>
                        
                  </div>
                  {php}
                  }
                  {/php}
                 
              </div>
      

<!--             <div class="weui-footer">
              <p class="weui-footer__text">{$system_copy_right|raw}{$tongji_code|raw}</p>
            </div> -->
            
        </div>
        {include file="common@base/mobile_foot"/}


        <script>
        $(function(){
          var awardType="{$user_award.award_type}";
          if(awardType == '5'){
            var cardId="{$user_award.card_id}";
    //        alert(cardId);
            if(cardId){
            var purl="{:U ( 'cardVouchers/Wap/ajaxdosign')}";
            $.post(purl,{'card_id':cardId},function(dd){
              var ext=dd.card_ext;
              var card_id=dd.strcard;
              wx.addCard({
                  cardList: [{
                      cardId: card_id,
                      cardExt: ext 
                  }], // 需要添加的卡券列表
                  success: function (res) {
                      var cardList = res.cardList; // 添加的卡券列表信息
                     return false;
                  }
              });
            });
          }
            
          }
          var award_state={$user_award.state};
          if(award_state==0 ){
            var checkUrl = "{:U('get_state')}?id={$user_award.id}";
              var interval = setInterval(function(){
                $.get(checkUrl,function(data){
                  if(data==2 || data==1){
    //                $('.success_wrap').show();
    //                $('.qr_wrap').hide();
    //                $('.addr_t').hide();
    //            window.location.Reload();
                var url="{:U('get_prize')}?id={$user_award.id}";
                location.href=url;
                  }
                })
              },2000)
          }
        })
        
      
      $('#container').css({'min-height':$(window).height()});
      $('#subbtn').click(function(){
        $.Dialog.confirmBox('提示','你现在确定要提交吗？',{leftBtnText:"取 消",rightBtnText:'确 定',rightCallback:function(){
          var address_id=$("input[name='address_id']:checked").val();
          var id=$("input[name='id']").val();
          var url="{:U('save_prize_address')}";
          $.post(url,{'id':id,'address_id':address_id},function(d){
            if(d){
              $.Dialog.close();
              location.href="{:U('my_prize')}?games_id={$user_award.draw_id}";
            }else{
              $.Dialog.fail('修改失败');
              $.Dialog.close();
            }
          });
          
        }});
      });
      
      
      </script>
{/block}


