{extend name="draw@wap/common_file" /} {block name="common_body"}
<!-- 方形转盘 -->
<div class="wrap activity">
  



  <div id="lottery" class="dial-area">
  <div class="flex">
    {volist name="jplist" id="vo"}
    	{elt name='i' value='4'}
		      <div class="lottery-unit lottery-unit-{$key}" data-index="{$key}" data-showId="{$vo.id}"><img src="{$vo.url}" alt="">
		        <div class="mask"></div>
		      </div>
    	{/elt}
    {/volist}
   	</div>
 	<div class="flex f-item-c">
      <div class="lottery-unit lottery-unit-9" data-index="9"  data-showId="{$jplist[9]['id']}"><img src="{$jplist[9]['url']}" alt="">
        <div class="mask"></div>
      </div>
      <div class="flex-item dial-btn"></div>

      <div class="lottery-unit lottery-unit-4"  data-index="4" data-showId="{$jplist[4]['id']}"><img src="{$jplist[4]['url']}" alt="">
        <div class="mask"></div>
      </div>
    </div>
    
    <div class="flex">
      <div class="lottery-unit lottery-unit-8" data-index="8"  data-showId="{$jplist[8]['id']}"><img src="{$jplist[8]['url']}" alt="">
        <div class="mask"></div>
      </div>
      <div class="lottery-unit lottery-unit-7" data-index="7"  data-showId="{$jplist[7]['id']}"><img src="{$jplist[7]['url']}" alt="">
        <div class="mask"></div>
      </div>
      <div class="lottery-unit lottery-unit-6" data-index="6"  data-showId="{$jplist[6]['id']}"><img src="{$jplist[6]['url']}" alt="">
        <div class="mask"></div>
      </div>
      <div class="lottery-unit lottery-unit-5"  data-index="5" data-showId="{$jplist[5]['id']}"><img src="{$jplist[5]['url']}" alt="">
        <div class="mask"></div>
      </div>
    </div>
    
 
    
  </div>

 
  <!-- 共用内容 -->
  {include file='wap/common_index' /}

</div>

   <script type="text/javascript">
   //分享
	$.WeiPHP.initWxShare({
		title:'{$shareData.title}',
		desc:'{$shareData.desc}',
		link:'{$shareData.link}',
		imgUrl:'{$shareData.imgUrl}'
	});
	var has_subscribe = "{$has_subscribe}";
	var qrcode='{$qrcode}';
	var err_msg="{$err_msg}";
	var join_url = "{$joinurl}";
	
   </script>
   <script type="text/javascript" src="__STATIC__/default/js/square-dial.js"></script>
{/block}