@charset "utf-8";
/* CSS Document by jacy use in weisite */
.container{ background:none}
/* 详情页 */
.detail { padding:10px;}
.detail h6{ font-size:20px; padding:10px 0; font-weight:bold;}
.detail .info{ border-bottom:1px solid #ccc; line-height:30px; margin-bottom:10px;}
.detail img{ padding:5px 0; max-width:100%;}
.detail .content{padding:5px 0; font-size:16px;}
.detail .content a{ text-decoration:underline}