{extend name="common@base/no_menu_common" /}
{block name="body"}
<section class="reg_box log_wrap">
	<form class="login-form fl" action="__SELF__" method="post">
    	<h3>修改注册账号信息</h3>

       <div class="form_body">
          <div class="control-group">
            <label class="control-label" for="inputMobile">手机号码</label>
            <div class="controls">
              <input type="text" id="inputMobile" class="span3" placeholder="请输入手机号码" errormsg="请填写正确格式的手机号码" nullmsg="请填写手机号码" value='{$myinfo.mobile}' name="mobile">
              <span class="tips">用于工作人员联系确认信息</span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="repassword">注册密码</label>
            <div class="controls">
              <input type="password" id="repassword" class="span3" placeholder="请输入密码" recheck="password" value='' errormsg="请输入密码" nullmsg="请输入密码" datatype="*" name="password">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="verify">验证码</label>
            <div class="controls">
              <div>
              <input type="text" id="verify" class="span3" placeholder="请输入验证码"  errormsg="请填写5位验证码" nullmsg="请填写验证码" datatype="*5-5" name="verify">
              <img class="verifyimg reloadverify" alt="点击切换" src="{:U('verify')}" style="cursor:pointer;">

              </div>
              <div class="Validform_checktip text-warning"></div>
            </div>
          </div>


          <div class="control-group">
          	<label class="control-label">&nbsp;</label>
            <div class="controls">
              <button type="button" id="submitBtn" class="btn">提 交</button>
            </div>
          </div>
      </div>
    </form>
</section>
{/block}
{block name="script"}
	<script type="text/javascript">
		 $(document)
	    	.ajaxStart(function(){
	    		$("button").addClass("disabled");
	    	})
	    	.ajaxStop(function(){
	    		$("button").removeClass("disabled");
	    	});
    	 $("#submitBtn").click(function(){
			//console.log('a');
    		var self = $('form');
    		$.post(self.attr("action"), self.serialize(), success, "json");
    		return false;

    		function success(data){
    			if(data.code){
					window.location.href = data.url;
    			} else {
    				self.find(".Validform_checktip").text(data.msg);
    				//刷新验证码
    				$(".reloadverify").click();
    			}
    		}
    	});

		$(function(){
			var verifyimg = $(".verifyimg").attr("src");
            $(".reloadverify").click(function(){
                if( verifyimg.indexOf('?')>0){
                    $(".verifyimg").attr("src", verifyimg+'&random='+Math.random());
                }else{
                    $(".verifyimg").attr("src", verifyimg.replace(/\?.*$/,'')+'?'+Math.random());
                }
            });
		});
	</script>
{/block}
