{extend name="shop@wap/common_file" /} {block name="common_body"}
<!-- 首页 -->
<div class="wrap" style="height: 100%">
    <!-- 头部导航 -->
    <div class="top-nav">
        <div class="flex">
            <i class="iconfont icon-back" id="go-back"></i>
            <slot>
                <span class="title">评价</span>
            </slot>
        </div>
    </div>
    
    <!-- 评价 -->
    <div class="comment">
        <form class="m-item">
            <div class="m-goods2">
                <div class="m-goods2-img">
                    <img src="//dummyimage.com/200x200/000/fff">
                </div>

                <p>I DO 最喜爱系统18K钻戒女</p>
            </div>

            <!-- 输入框 -->
            <textarea placeholder="快告诉小伙伴宝贝有多好吧"></textarea>

           <div class="ui-border-t">
                <button>提交</button>
           </div>
        </form>

        <form class="m-item">
            <div class="m-goods2">
                <div class="m-goods2-img">
                    <img src="//dummyimage.com/200x200/000/fff">
                </div>

                <p>I DO 最喜爱系统18K钻戒女</p>
            </div>

            <!-- 输入框 -->
            <textarea placeholder="快告诉小伙伴宝贝有多好吧"></textarea>

           <div class="ui-border-t">
                <button>提交</button>
           </div>
        </form>

        <form class="m-item">
            <div class="m-goods2">
                <div class="m-goods2-img">
                    <img src="//dummyimage.com/200x200/000/fff">
                </div>

                <p>I DO 最喜爱系统18K钻戒女</p>
            </div>

            <!-- 输入框 -->
            <textarea placeholder="快告诉小伙伴宝贝有多好吧"></textarea>

           <div class="ui-border-t">
                <button>提交</button>
           </div>
        </form>

    </div>
	<!-- /评价 -->
    
</div>
<script type="text/javascript">
    
</script>
{/block}