/* 多行点 */
.overflow-dot {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* 单行点 */
.overflow-dot_row {
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}