<!-- 底部导航最多能添加4个选项 -->
{notempty name="footer"}
<link href="{:CUSTOM_TEMPLATE_PATH}_footer/V1/footer.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
<nav class="bottom_nav">
{volist name="footer" id="vo"}
{if condition="empty($vo['child'])"}
    <a class="item" href="{$vo.url}">{$vo.title}</a>
{else/}
    <div class="item has_nav" href="javascript:;" onClick="$(this).find('#more_nav_{$vo.id}').toggle();">
    	{$vo.title}<em class="arrow_up"></em>
    	<div class="more_nav" id="more_nav_{$vo.id}">
        	<em></em>
        	{volist name="vo.child" id="vv"}
        	<a href="{$vv.url}">{$vv.title}</a>
        	{/volist}
        </div>
    </div>
{/if} 
{/volist}
</nav>
<div class="bottom_nav_blank"/>
{/notempty}
