@charset "utf-8";
/* CSS Document by jacy use in vipcard */
html{ height:100%;}
body{ min-height:100%;}
.icon_shop,.icon_member{width: 20px;height: 20px;display: inline-block;vertical-align: text-bottom;margin-right: 12px;}
.icon_shop{background: url(icon/icon_shop.png);background-size: 100%;}
.icon_member{background: url(icon/icon_member.png);background-size: 100%;}
.center_icon{width: 22px;display: block;margin-right: 15px;}
.card{ position:relative; width:100%; padding:15px auto 0; background:url(bg.jpg) no-repeat; background-size:100% 100%; overflow:hidden}
.card .card_bg{ display:block; width:90%; margin:15px auto 0; z-index:0; position:relative;}
.card .card_container{ position:absolute; top:15px; right:5%; left:5%; bottom:0; z-index:10;}
.card .logo{ display:block; margin:10px 0; text-align:center; height:50px;}
.card .logo img{ height:50px;}
.card .card_name{ text-align:center;font-size:16px; font-weight:bold;}
.card .card_number{ position:absolute; right:10px; bottom:10px; font-size:16px; text-align:left;}
.card .card_number small{ font-size:12px;}
.card .get_btn{ position:absolute; bottom:0; left:0; right:0; z-index:100; height:44px; line-height:44px; background:RGBA(196,45,155,.9); color:#fff; font-size:16px;text-align:center}
.card .card_get_mark{ background:RGBA(0,0,0,.4) url(yes.png) center center no-repeat; position:absolute; left:5%; right:5%; top:15px; bottom:0; z-index:1000; border-radius:8px; color:#fff; padding-top:125px; font-size:14px; text-align:center}
.write_tips_content{ background:#fff; padding:10px; font-size:12px; color:#999; margin-bottom:15px; border:1px solid #ddd; border-radius:10px;}
.write_tips_content h6{ font-size:15px; text-align:center; border-bottom:1px solid #ddd; margin-bottom:10px; padding:0 0 10px;}
.zoom_card_tips{ font-size:12px; color:#999; text-align:center; padding:5px 0;}
.back_content{ padding:15px; font-size:12px;}
.back_content .use_title{ font-size:14px; text-align:center;}
/* 放大的会员卡 */
.zoom_card_container{ position:fixed; background:#fff; top:0; right:0; bottom:0; left:0; z-index:10000;}
.zoom_card_front_container{ position:fixed; top:0; right:0; bottom:0; left:0; z-index:10002;display: -webkit-flex;display: -ms-flexbox;display: flex;display: -webkit-box;
 -webkit-box-orient: horizontal;
 -webkit-box-pack: center;
 -webkit-box-align: center;}
 .zoom_card_back_container{ position:fixed; top:0; right:0; bottom:0; left:0; z-index:10001;display: -webkit-flex;display: -ms-flexbox;display: flex;display: -webkit-box;
 -webkit-box-orient: horizontal;
 -webkit-box-pack: center;
 -webkit-box-align: center;}
.zoom_card_container .close{ position:absolute; bottom:0; left:0; background:RGBA(0,0,0,.7) url(close.png) center center no-repeat; background-size:22px 22px; height:30px; width:30px; border-radius:100%; z-index:1000000;}
.zoom_card{ -webkit-transition:all ease 300ms;}
.zoom_card_back{ -webkit-transition:all ease 300ms; visibility:hidden}
.zoom_card_do{-webkit-transform:rotate(-90deg) scale(1.5,1.5);}
.zoom_card_back_do{-webkit-transform:perspective(600px) rotateX(90deg) rotate(-90deg) scale(1.5,1.5);}
.turn_card{-webkit-transform:perspective(600px) rotateX(90deg) rotate(-90deg) scale(1.5,1.5);}
.turn_card_back{-webkit-transform:perspective(600px) rotateX(0) rotate(-90deg) scale(1.5,1.5); visibility:visible}

.v_nav{ border-top:1px solid #ddd; background:#fff}
.v_nav .item{ height:46px; line-height:46px; border-bottom:1px solid #ddd; display:block; color:#333; padding:0 50px 0 20px; position:relative}
.v_nav .item em{ position:absolute; right:10px; top:14px; height:24px; width:24px; background:url(arw.png) no-repeat; background-size:18px 18px;}
.v_nav a{ color:#888}
.v_nav .single_address{ line-height:24px; padding:10px 70px 10px 20px; color:#888}
.v_nav .single_address .title{ font-size:16px; color:#444;}
.v_nav .single_address em{ width:60px; height:40px; background:url(phone.png) center center no-repeat; background-size:40px 40px; border-left:1px solid #ccc;}
.v_nav .single_address a{   /* white-space: nowrap; overflow: hidden;text-overflow: ellipsis; */display: block;font-size:13px;}


.card_info{ margin-top:60px}
.get_card_info{ margin-top:20px;}
.card_info a{ display:block}
h6{ font-size:18px; font-weight:bold}
.page_title{ font-size:24px; color:#fff; line-height:40px; height:40px; text-align:center}
.t_color{ color:#999}
.score_table{ border:1px solid #30b0f3}
.score_list{ display:table; width:100%; font-size:12px;}
.score_list span{ text-align:left; display:table-cell; width:33.3%;padding:5px;}
.score_list_top{ background-color:#ddd; font-size:14px;}
.all_score{ text-align:right; color:#33ab07}
.select_month{ position:relative; margin-bottom:10px;}
.select_month div{padding:10px 10px 10px 50px; background-repeat:no-repeat; background-position:10px center; background-size:30px 30px; border:none; background-color:#fecf76}
.select_month div p{background-repeat:no-repeat; background-position:right center; background-size:15px 15px;}
.select_month div p span{ font-size:12px; color:#999}
.select_month select{ position:absolute; height:60px; top:0; left:0; opacity:0; z-index:100;}
.all_score{ padding:10px; text-align:center; color:#999}
.all_score span{ font-size:20px; color:#F60}


.my_card{ padding:30px 10px 70px 90px; background:url(me_bg.jpg) no-repeat; background-size:100% 100%; position:relative;}
.my_card .head{ position:absolute;left:20px; top:30px;border-radius:100px; width:60px; height:60px;}
.my_card .name{ font-size:16px; font-weight:bold; padding:7px 0; color:#720505}
.my_card .level{ color:#e55702; font-size:12px;}
.my_card .level a{ color:#e55702}
.my_card .level img{ vertical-align:-1px;}
.my_card_nav{ position:absolute; right:0; left:0; bottom:0; display:-webkit-box; background:RGBA(0,0,0,.5);}
.my_card_nav a{ line-height:16px; display:block; -webkit-box-flex:1; color:#fff; font-size:12px; text-align:center; margin:5px 0; border-right:1px solid RGBA(255,255,255,.4);}
.my_card_nav a:last-child{ border:none}
.my_card .edit_icon{ position:absolute; top:10px; right:10px; width:20px; height:20px; background:url(setting.png) no-repeat; background-size:100% 100%;}

/* pay dialog */
.pay_dialog{position:fixed; top:0; left:0; right:0; bottom:0; z-index:9999;color:#fff; width:100%; height:100%;display: -webkit-flex;display: -ms-flexbox;display: flex;display: -webkit-box;
 -webkit-box-orient: horizontal;
 -webkit-box-pack: center;
 -webkit-box-align: center; background:RGBA(0,0,0,.5);}
.pay_dialog form{ width:80%; background:#fff; min-height:200px; padding:10px;}



.m_title{
	margin-bottom:10px;	
}
.m_money{
	text-align:center;
	margin-top:20px;
	font-size:20px;	
}
.m_number{
	text-align:center;
	display:block;
	margin-top:10px;
	color:#FC3;
	font-size:20px;	
}
.m_body{
	margin-left: 5%;
    margin-right:5%;
	width:90%;
	padding-top:10px;
	padding-bottom:10px;
	margin-bottom:10px;
	background-color:#06F;
	border-radius:5px;
	text-align:center;	
}
.m_give{
	vertical-align:middle;
	color:#FFF;
}
.m_group {
	padding-top:10px;
	width:90%;
	margin-left: 5%;
    margin-right:5%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-box;
  
}
.m_group a{
	line-height: 30px;
    display: block;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-flex: 1;
	background-color:#FFF;
	border:1px solid #06C;
	text-align:center;
}
.m_group a:first-child{
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
}
.m_group a:last-child{
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
}


.m_table{
	margin-top:10px;
	margin-left: 5%;
    margin-right:5%;
	width:90%;
	background-color:#999;
	text-align:center;
}
.m_have{
	background-color:#FFF;	
}
.m_table1{
	margin-left: 5%;
    margin-right:5%;
	width:89.5%;
 	text-align:center;
	border:1px solid #999 ;
}
.m_line{
	margin:0;
	padding:0;
	 width:580px;
	 height:1px;
	 background-color:#999;
	 overflow:hidden;
}
.m_input{
	float:left;
	width:auto;
	margin-left:20px;
}
.m_name{
float:left;
}
.m_weibu{
	margin-top:20px;	
}
.m_all{
	background-color:#FFF;	
}
.m_head{
	background-color:#FFF;
	width:auto;
	text-align:center;
	border:1px solid #999 ;
	padding-top:10px;
	padding-bottom:10px;
	margin-bottom:10px;
}
.m_link{
	display: block;
    background: #fff;
    padding: 10px 30px 10px 10px;
    position: relative;
	
}
.m_link em{
    position: absolute;
    top: 50%;
    margin-top: -10px;
    right: 5px;
    width: 20px;
    height: 20px;
    background: url(item_arrow.png) no-repeat;
    background-size: 100% 100%;
}
.m_h3{
	margin-left:10px;
	color:#000;
	float:left;
}
.m_h1{
	font-size:9px;
	color:#666;
	
}
.share_top{
display: -webkit-flex;
display: -ms-flexbox;
display: flex;	
    display: -webkit-box;
	padding-top:20px;
	padding-bottom:20px;
	display:block;

}
.signin_top{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-box;
	padding-top:20px;
	padding-bottom:20px;
}
.signin_top span{
	-webkit-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	 -webkit-box-flex: 1;
}
.share_top span{
	-webkit-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	 -webkit-box-flex: 1;
}


.share_left{
	text-align:center;
	display:block;
	padding-top:30px;
	padding-left:23px;
	float:left;
	
}
.signin_left,.signintop_right{
	text-align:center;
	display:block;
	padding-top:30px;
	color:#999
}
.share_div{	
  width: -webkit-fit-content;
  margin: auto;
}
.share_col,.signin_col{
	color:#3fb7de;
	font-size:24px;
}
.sharetop_mid,.signintop_mid{
	        width:100px; 
            height: 100px; 
	        border:4px solid #94dcf4 ;
			background-color:#3fb7de;  
			 border-radius: 100%;  
            display: inline-block;  
            text-align:center;		  
			font-weight:900;
			font-size:30px;
			line-height:100px;
			color:#FFF;
}
.i_nav{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-box;
    background:#3fb7de;
    padding: 5px 0;
}
.i_nav .i_line{
	width: 0px;
    height:40px;
	display: inline-block;
    border-right: 1px solid #a1e5fb;
}
.i_nav a {
	-webkit-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
    -webkit-box-flex: 1;
    display: block;
    text-align: center;
    color:#FFF;
	font-size:12px;
	line-height:14px;
}
.i_bpp{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-box;
	background-color:#FFF;
	height:50px;
	
}
.i_leftp{
	text-align:left;
}
.i_midp{
	text-align:center;
	line-height:40px;
	color:#999;
}
.i_rightp{
	text-align:right;
}
.i_bpp p{
	-webkit-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	-webkit-box-flex: 1;
	padding:10px 0;
}
#calendar{ width:100%;}
#current-month{ text-align:center; display:none}
.calendar-month { width:100%; background:#ececec; color:#888}
.calendar-month th{ padding:5px 0; color:#09C; font-weight:bold;}
.calendar-month td{  text-align:center;}
.calendar-month td .day{ margin:1px; background:#fff;padding:5px 0; display:block;}
.calendar-month .other-month .day{ background:#ececec; color:#ececec}
.calendar-month .today .day{ color:#F00}
.calendar-month .signed .day{ background:#F60; color:#fff}
.tab_nav{	
	margin-left: 60px;
    margin-right:60px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
	display: -webkit-box;
	margin-bottom:10px;
	margin-top:10px;
	border-radius:6%;
}
.tab_nav a{
    display: block;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-flex: 1;
	text-align:center;
	
}
.stamp_line{
	padding-bottom:10px;	
}

.stamp_a{
	font-size:30px;	
}
.stamp_b{
	padding-left:97px;
	text-align:center;	
}
.stamp {
	height: 110px;
	padding:10px 10px 0;
	margin:  0 15px;
	position: relative;
	overflow: hidden;
	}
.stamp_yuan1,.stamp_yuan{
	width:20px;
	height:20px;
	border-radius:50%;
	background-color:#FFF;
	position:absolute;
	left: 211px;
    top: -10px;	
	}
.stamp_yuan1{
    top: 110px;	
	}
.stamp:before {
	content: '';
	position: absolute;
	top:0px;
	bottom:0px;
	left:10px;
	right:10px;
	z-index: -1;
	}
.stamp:after {
	content: '';
	position: absolute;
	left: 10px;
	top: 10px;
	right: 10px;
	bottom: 10px;
	box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
	z-index: -2;}
.stamp .par{
	float: left;
	border-right:2px dashed rgba(255,255,255,.3);
	text-align: left;
	}
.stamp .par p{
	color:#fff; 
	font-size:15px}
.stamp .par span{
	display:inline-block;
	color:#fff;
	}
.stamp .par .stamp_sign{
	font-size: 12px;
	}
.stamp .par sub{
	position: relative;
	top:-5px;
	color:#FFF;
	}
.stamp .copy{
	display: inline-block;
	width:40px;
	vertical-align:middle;
	font-size: 25px;
	line-height:35px;
	margin-top:20px;
	padding-left:16px;
	}
.stamp .copy a{
	color:#FFF;
	margin-top:20px;
	}

.stamp1{
	background: #ee5375;
	background: radial-gradient(rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 4px, #ee5375 4px);
	background-size: 15px 9px;
	background-position: -5px 10px;
	}
.stamp1:before{
	background-color:#ee5375;
	}


.tab_sig .today{ color:#F00}
.tab_sig .signed{ background:#F60; color:#fff}

.integral_list li{
	background-color:#FFF;
	border:1px solid #ddd;
	padding:10px 10px;
	margin:15px;
}

.integral_list .info{
	color:#888;
	font-size:12px;
}
.integral_list .info span{
	 color:#F00; 
	 font-size:15PX;
	 }
.integral_list img{ margin-top:6px;}
.integral_bottom{
	color:#999;	
	border-top:none;
	padding:10px 0;

}
.integral_bottom .count{
	color:#999;	
	pading:10px;
}
.integral_bottom .count em{ 
	   color:#09C;
	   font-style:normal;
	   font-size:30px;
}
.integral_bottom .exchange_btn{
	float:right;
	width:auto;
	padding:7px 15px;
}

/* 每日推荐 */
.day_recoomend{ margin:15px;}
.day_recoomend li a{ display:block; background:#fff; border:1px solid #ddd; padding:10px; margin-bottom:15px;}
.day_recoomend li p{ padding-bottom:5px;}

