<div class="field_group">
<h3>筛选信息</h3>
{volist name="fields[0]" id="field"}
  {if condition="$field['is_show'] == 4"}
    <input type="hidden" class="text input-large" name="{$field.name}" value="{$data[$field['name']]|default=''}">
  {/if}
  {if condition="$field['is_show'] == 1 || $field['is_show'] == 3 || ($field['is_show'] == 5 && I($field['name']) )"}
    <div class="form-item cf toggle-{$field.name}">
      <label class="item-label">
      {notempty name="field.is_must"}<span class="need_flag">*</span>{/notempty}
      {$field['title']}
      <span class="check-tips">
        {notempty name="field['remark']"}（{$field['remark']|raw}）{/notempty}
        </span></label>
      <div class="controls">
        {switch name="field.attr_type"}
          {case value="num"}
            <input type="number" class="text input-large" name="{$field.name}" value="{$data[$field['name']]|default=''}">
          {/case}
          {case value="string"}
            <input type="text" class="text input-large" name="{$field.name}" value="{$data[$field['name']]|default=''}">
          {/case}
          {case value="textarea"}
            <label class="textarea input-large">
              <textarea name="{$field.name}">{$data[$field['name']]|default=''}</textarea>
            </label>
          {/case}
          {case value="datetime"}
            <input type="datetime" name="{$field.name}" class="text input-large time" value="{$data[$field['name']]|time_format}" placeholder="请选择时间" />
          {/case}
          {case value="date"}
            <input type="datetime" name="{$field.name}" class="text input-large date" value="{$data[$field['name']]|time_format='Y-m-d'}" placeholder="请选择时间" />
          {/case}                        
          {case value="bool"}
            <select name="{$field.name}">
              {volist name=":parse_field_attr($field['extra'])" id="vo"} <option value="{$key}" class="toggle-data" toggle-data="{$vo|get_hide_attr}"
                {eq name="data[$field['name']]" value="$key"}selected{/eq}
                >{$vo|clean_hide_attr}
                </option>
              {/volist}
            </select>
          {/case}
          {case value="select"}
            <select name="{$field.name}">
              {volist name=":parse_field_attr($field['extra'])" id="vo"} <option value="{$key}" class="toggle-data" toggle-data="{$vo|get_hide_attr}"
                {eq name="data[$field['name']]" value="$key"}selected{/eq}
                >{$vo|clean_hide_attr}
                </option>
              {/volist}
            </select>
          {/case}
          {case value="cascade"}
          
          {:W('common/cascade/cascade', array('name'=>$field['name'],'value'=>$data[$field['name']],'extra'=>$field['extra']))}
          {/case}                      
          {case value="dynamic_select"}
          
          {:W('common/dynamic_select/dynamic_select', array('name'=>$field['name'],'value'=>$data[$field['name']],'extra'=>$field['extra']))}
          {/case}
          {case value="dynamic_checkbox"}
          
          {:W('common/dynamic_checkbox/dynamic_checkbox', array('name'=>$field['name'],'value'=>$data[$field['name']],'extra'=>$field['extra']))}
          {/case}              
          {case value="news"}
          
          {:W('common/news/news', array('name'=>$field['name'],'value'=>$data[$field['name']],'extra'=>$field['extra']))}
          {/case} 
          {case value="image"}
          <div id="image_{$field.name}"></div>
          {:hook('image', array('name'=>$field['name'],'value'=>$data[$field['name']],'extra'=>$field['extra']))}
          {/case}                                                    
          {case value="radio"}
            {volist name=":parse_field_attr($field['extra'])" id="vo"}
              <div class="check-item">
              <!--[if !IE]><!-->  
                    <input type="radio" class="regular-radio toggle-data" value="{$key}" id="{$field.name}_{$key}" name="{$field.name}" toggle-data="{$vo|get_hide_attr}"
                    {eq name="data[$field['name']]" value="$key"}checked="checked"{/eq} />
                    <label for="{$field.name}_{$key}"></label>{$vo|clean_hide_attr} 
                <!--<![endif]-->
                 <!--[if IE]>
                     <input type="radio" value="{$key}" 
                     id="{$field.name}_{$key}" name="{$field.name}" class="toggle-data" toggle-data="{$vo|get_hide_attr}"
                    {eq name="data[$field['name']]" value="$key"}checked="checked"{/eq}/> 
                    <label for="{$field.name}_{$key}"></label>{$vo|clean_hide_attr}
                 <![endif]-->
               </div>
            {/volist}
          {/case}
          {case value="checkbox"}
            {volist name=":parse_field_attr($field['extra'])" id="vo"}
              <div class="check-item">
                <input type="checkbox" class="regular-checkbox toggle-data" value="{$key}" id="{$field.name}_{$key}" name="{$field.name}[]" toggle-data="{$vo|get_hide_attr}"
                {in name="key" value="$data[$field['name']]" }checked="checked"{/in} >
                <label for="{$field.name}_{$key}"></label>{$vo|clean_hide_attr} 
               </div>
            {/volist}
          {/case}
          {case value="editor"}
            <label class="textarea">
              <textarea name="{$field.name}" style="width:405px; height:100px;">{$data[$field['name']]|default=''}</textarea>
              {:W('common/editor/adminArticleEdit', array('name'=>$field['name'],'value'=>$data[$field['name']]))} </label>
          {/case}
          {case value="picture"}
            <div class="controls uploadrow2" data-max="1" title="点击修改图片" rel="{$field.name}">
              <input type="file" id="upload_picture_{$field.name}">
              <input type="hidden" name="{$field.name}" id="cover_id_{$field.name}" value="{$data[$field['name']]|default=''}"/>
              <div class="upload-img-box">
                {notempty name="data[$field['name']]"}
                  <div class="upload-pre-item2"><img width="100" height="100" src="{$data[$field['name']]|get_cover_url}"/></div>
                  <em class="edit_img_icon">&nbsp;</em>
                {/notempty}
              </div>
            </div>
          {/case}
          {case value="mult_picture"}
              <div class="mult_imgs">
                  <div class="upload-img-view" id='mutl_picture_{$field.name}'>
                    {notempty name="data[$field['name']]"}
                    {php}$data[$field['name']] = explode(',', $data[$field['name']]);{/php}
                      {volist name="data[$field['name']]" id="vo"}
                      <div class="upload-pre-item22">
                      <img width="100" height="100" src="{$vo|get_cover_url}"/>
                      <input type="hidden" name="{$field.name}[]" value="{$vo}"/>
                      <em>&nbsp;</em>
                      </div>
                      {/volist}
                    {/notempty}
                  </div>
                  <div class="controls uploadrow2" data-max="9" title="点击上传图片" rel="{$field.name}">
                    <input type="file" id="upload_picture_{$field.name}">
                  </div>
              </div>
          {/case}
          {case value="file"}
            <div class="controls upload_file" rel="{$field.name}">
              <input type="file" id="upload_file_{$field.name}">
              <input type="hidden" name="{$field.name}" value="{$data[$field['name']]|default=''}"/>
              <div class="upload-img-box">
                {present name="data[$field['name']]"}
                  <div class="upload-pre-file"><span class="upload_icon_all"></span>{$data[$field['name']]|get_table_field=###,'id','name','File'}</div>
                {/present}
              </div>
            </div>
            
          {/case}
          {default /}
          <input type="text" class="text input-large" name="{$field.name}" value="{$data[$field['name']]|default=''}">
        {/switch}
      </div>
    </div>
  {/if}
{/volist}
</div>
<div class="field_group">
<h3>扩展信息</h3>
{volist name="fields[1]" id="field"}
  {if condition="$field['is_show'] == 4"}
    <input type="hidden" class="text input-large" name="{$field.name}" value="{$data[$field['name']]|default=''}">
  {/if}
  {if condition="$field['is_show'] == 1 || $field['is_show'] == 3 || ($field['is_show'] == 5 && I($field['name']) )"}
    <div class="form-item cf toggle-{$field.name}">
      <label class="item-label">
      {notempty name="field.is_must"}<span class="need_flag">*</span>{/notempty}
      {$field['title']}
      <span class="check-tips">
        {notempty name="field['remark']"}（{$field['remark']|raw}）{/notempty}
        </span></label>
      <div class="controls">
        {switch name="field.attr_type"}
          {case value="num"}
            <input type="number" class="text input-large" name="{$field.name}" value="{$data[$field['name']]|default=''}">
          {/case}
          {case value="string"}
            <input type="text" class="text input-large" name="{$field.name}" value="{$data[$field['name']]|default=''}">
          {/case}
          {case value="textarea"}
            <label class="textarea input-large">
              <textarea name="{$field.name}">{$data[$field['name']]|default=''}</textarea>
            </label>
          {/case}
          {case value="datetime"}
            <input type="datetime" name="{$field.name}" class="text input-large time" value="{$data[$field['name']]|time_format}" placeholder="请选择时间" />
          {/case}
          {case value="date"}
            <input type="datetime" name="{$field.name}" class="text input-large date" value="{$data[$field['name']]|time_format='Y-m-d'}" placeholder="请选择时间" />
          {/case}                        
          {case value="bool"}
            <select name="{$field.name}">
              {volist name=":parse_field_attr($field['extra'])" id="vo"} <option value="{$key}" class="toggle-data" toggle-data="{$vo|get_hide_attr}"
                {eq name="data[$field['name']]" value="$key"}selected{/eq}
                >{$vo|clean_hide_attr}
                </option>
              {/volist}
            </select>
          {/case}
          {case value="select"}
            <select name="{$field.name}">
              {volist name=":parse_field_attr($field['extra'])" id="vo"} <option value="{$key}" class="toggle-data" toggle-data="{$vo|get_hide_attr}"
                {eq name="data[$field['name']]" value="$key"}selected{/eq}
                >{$vo|clean_hide_attr}
                </option>
              {/volist}
            </select>
          {/case}
          {case value="cascade"}
          
          {:W('common/cascade/cascade', array('name'=>$field['name'],'value'=>$data[$field['name']],'extra'=>$field['extra']))}
          {/case}                      
          {case value="dynamic_select"}
          
          {:W('common/dynamic_select/dynamic_select', array('name'=>$field['name'],'value'=>$data[$field['name']],'extra'=>$field['extra']))}
          {/case}
          {case value="dynamic_checkbox"}
          
          {:W('common/dynamic_checkbox/dynamic_checkbox', array('name'=>$field['name'],'value'=>$data[$field['name']],'extra'=>$field['extra']))}
          {/case}              
          {case value="news"}
          
          {:W('common/news/news', array('name'=>$field['name'],'value'=>$data[$field['name']],'extra'=>$field['extra']))}
          {/case} 
          {case value="image"}
          <div id="image_{$field.name}"></div>
          {:hook('image', array('name'=>$field['name'],'value'=>$data[$field['name']],'extra'=>$field['extra']))}
          {/case}                                                    
          {case value="radio"}
            {volist name=":parse_field_attr($field['extra'])" id="vo"}
              <div class="check-item">
              <!--[if !IE]><!-->  
                    <input type="radio" class="regular-radio toggle-data" value="{$key}" id="{$field.name}_{$key}" name="{$field.name}" toggle-data="{$vo|get_hide_attr}"
                    {eq name="data[$field['name']]" value="$key"}checked="checked"{/eq} />
                    <label for="{$field.name}_{$key}"></label>{$vo|clean_hide_attr} 
                <!--<![endif]-->
                 <!--[if IE]>
                     <input type="radio" value="{$key}" 
                     id="{$field.name}_{$key}" name="{$field.name}" class="toggle-data" toggle-data="{$vo|get_hide_attr}"
                    {eq name="data[$field['name']]" value="$key"}checked="checked"{/eq}/> 
                    <label for="{$field.name}_{$key}"></label>{$vo|clean_hide_attr}
                 <![endif]-->
               </div>
            {/volist}
          {/case}
          {case value="checkbox"}
            {volist name=":parse_field_attr($field['extra'])" id="vo"}
              <div class="check-item">
                <input type="checkbox" class="regular-checkbox toggle-data" value="{$key}" id="{$field.name}_{$key}" name="{$field.name}[]" toggle-data="{$vo|get_hide_attr}"
                {in name="key" value="$data[$field['name']]" }checked="checked"{/in} >
                <label for="{$field.name}_{$key}"></label>{$vo|clean_hide_attr} 
               </div>
            {/volist}
          {/case}
          {case value="editor"}
            <label class="textarea">
              <textarea name="{$field.name}" style="width:405px; height:100px;">{$data[$field['name']]|default=''}</textarea>
              {:W('common/editor/adminArticleEdit', array('name'=>$field['name'],'value'=>$data[$field['name']]))} </label>
          {/case}
          {case value="picture"}
            <div class="controls uploadrow2" data-max="1" title="点击修改图片" rel="{$field.name}">
              <input type="file" id="upload_picture_{$field.name}">
              <input type="hidden" name="{$field.name}" id="cover_id_{$field.name}" value="{$data[$field['name']]|default=''}"/>
              <div class="upload-img-box">
                {notempty name="data[$field['name']]"}
                  <div class="upload-pre-item2"><img width="100" height="100" src="{$data[$field['name']]|get_cover_url}"/></div>
                  <em class="edit_img_icon">&nbsp;</em>
                {/notempty}
              </div>
            </div>
          {/case}
          {case value="mult_picture"}
              <div class="mult_imgs">
                  <div class="upload-img-view" id='mutl_picture_{$field.name}'>
                    {notempty name="data[$field['name']]"}
                    {php}$data[$field['name']] = explode(',', $data[$field['name']]);{/php}
                      {volist name="data[$field['name']]" id="vo"}
                      <div class="upload-pre-item22">
                      <img width="100" height="100" src="{$vo|get_cover_url}"/>
                      <input type="hidden" name="{$field.name}[]" value="{$vo}"/>
                      <em>&nbsp;</em>
                      </div>
                      {/volist}
                    {/notempty}
                  </div>
                  <div class="controls uploadrow2" data-max="9" title="点击上传图片" rel="{$field.name}">
                    <input type="file" id="upload_picture_{$field.name}">
                  </div>
              </div>
          {/case}
          {case value="file"}
            <div class="controls upload_file" rel="{$field.name}">
              <input type="file" id="upload_file_{$field.name}">
              <input type="hidden" name="{$field.name}" value="{$data[$field['name']]|default=''}"/>
              <div class="upload-img-box">
                {present name="data[$field['name']]"}
                  <div class="upload-pre-file"><span class="upload_icon_all"></span>{$data[$field['name']]|get_table_field=###,'id','name','File'}</div>
                {/present}
              </div>
            </div>
            
          {/case}
          {default /}
          <input type="text" class="text input-large" name="{$field.name}" value="{$data[$field['name']]|default=''}">
        {/switch}
      </div>
    </div>
  {/if}
{/volist}
</div>