<!-- 底部导航最多能添加4个选项 -->
<link href="{:CUSTOM_TEMPLATE_PATH}_footer/tvs/footer.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
{notempty name="footer"}
<nav class="bottom_nav">
<a class="mail" href="mailto:"></a>
<div class="nav" id="nav">
{volist name="footer" id="vo"}
{if condition="empty($vo['child'])"}
    <a class="item" href="{$vo.url}">{$vo.icon|raw}{$vo.title}</a>
{else/}
    <div class="item has_nav" href="javascript:;" onClick="$(this).find('#more_nav_{$vo.id}').toggle();">
    	{$vo.icon|raw}{$vo.title}
    	<div class="more_nav" id="more_nav_{$vo.id}">
        	<em></em>
        	{volist name="vo.child" id="vv"}
        	<a href="{$vv.url}">{$vv.title}</a>
        	{/volist}
        </div>
    </div>
{/if} 
{/volist}
</div>
</nav>
{/notempty}
<script type="text/javascript">
$('#nav').width($('.container').width()-76);
</script>
<div class="bottom_nav_blank"/>