<meta charset="UTF-8" />
<meta content="{:config('WEB_SITE_KEYWORD')}" name="keywords"/>
<meta content="{:config('WEB_SITE_DESCRIPTION')}" name="description"/>
<link rel="shortcut icon" href="{:SITE_URL}/favicon.ico">
<title>{$page_title}</title>
<link href="__STATIC__/font-awesome/css/font-awesome.min.css?v={:SITE_VERSION}" rel="stylesheet">
<link href="__CSS__/base.css?v={:SITE_VERSION}" rel="stylesheet">
<link href="__CSS__/module.css?v={:SITE_VERSION}" rel="stylesheet">
<link href="__CSS__/weiphp.css?v={:SITE_VERSION}" rel="stylesheet">
<link href="__STATIC__/emoji.css?v={:SITE_VERSION}" rel="stylesheet">
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="__STATIC__/bootstrap/js/html5shiv.js?v={:SITE_VERSION}"></script>
<![endif]-->
<!--[if lt IE 9]>
<script type="text/javascript" src="__STATIC__/jquery-1.10.2.min.js"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
<script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js"></script>
<!--<![endif]-->
<script type="text/javascript" src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
<script type="text/javascript" src="__JS__/dialog.js?v={:SITE_VERSION}"></script>
<script type="text/javascript" src="__JS__/admin_common.js?v={:SITE_VERSION}"></script>
<script type="text/javascript" src="__JS__/admin_image.js?v={:SITE_VERSION}"></script>
<script type="text/javascript" src="__STATIC__/masonry/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="__STATIC__/jquery.dragsort-0.5.2.min.js"></script> 
<script type="text/javascript">
var  IMG_PATH = "__IMG__";
var  STATIC = "__STATIC__";
var  ROOT = "__ROOT__";
var  UPLOAD_PICTURE = "{:U('home/File/upload_picture',array('session_id'=>session_id()))}";
var  UPLOAD_FILE = "{:U('home/File/upload',array('session_id'=>session_id()))}";
var  UPLOAD_DIALOG_URL = "{:U('home/File/upload_dialog',array('session_id'=>session_id()))}";
</script>
<!-- 页面header钩子，一般用于加载插件CSS文件和代码 -->
{:hook('pageHeader')}
