{extend name="common@base/common" /}
{block name="body"}
<style>
    .setting_step.app_setting a{
        width:33%;
    }
</style>
  <div class="wrap">
    <section id="contents">
      <div class="setting_step app_setting">
             <a class="step step_cur" href="{:U('weixin/publics/step_0',array('id'=>$id))}">1.增加基本信息</a>
             <a class="step step_cur_1" href="{:U('weixin/publics/step_1',array('id'=>$id))}">2.配置公众平台</a>
             <a class="step " href="{:U('weixin/publics/step_2',array('id'=>$id))}">3.保存接口配置</a>
      </div>   
      <div class="tab-content bind_step_form"> 
      		<div class="item_wrap" style="width:600px; padding:90px 0;">
              <strong>请在公众平台开发者中心里的服务器配置录入以下参数</strong>
              <p>URL(服务器地址)：<span style="color: #FF0000">
              {php} if(config('DIV_DOMAIN')) { {/php}{:U('home/weixin/index')}{php} }else { {/php}{:U('home/weixin/index',array('pbid'=>$id))}{php} } {/php}</span><br>
              Token(令牌)：<span style="color: #F00">{:SYSTEM_TOKEN}</span><br>
              EncodingAESKey(消息加解密密钥)：点击随机生成得到密钥，不需要自己填写<br>
              消息加解密方式： 根据自己的需要选择其中一种
              </p>
              <p>&nbsp;</p>
            </div>
              <div class="bind_step_form_next_item">
              	<a class="btn submit-btn" href="{:U('weixin/Publics/step_2',array('id'=>$id))}">下一步</a>
             	<br/>
          	  	<p style="padding:20px 0;">配置信息遇到问题？<a href="{:U('home/index/lead')}" target="_blank">点击查看接入指引</a></p>
              </div>
            
      </div>
      <!--
      <div class="help_content">
          <p>&nbsp;</p>
          <p><img src="{:SITE_URL}/home/images/help02.png" ></p>
          <p><img src="{:SITE_URL}/home/images/help03.png" ></p>
       </div>
       -->
    </section>
   </div>
{/block}
{block name="script"}
  <link href="__STATIC__/datetimepicker/css/datetimepicker.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
  {php}if(config('COLOR_STYLE')=='blue_color') echo '
    <link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
    ';{/php}
  <link href="__STATIC__/datetimepicker/css/dropdown.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.js"></script> 
  <script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js?v={:SITE_VERSION}" charset="UTF-8"></script> 
  <script type="text/javascript">
$('#submit').click(function(){
    $('#form').submit();
});

$(function(){
    $('.time').datetimepicker({
        format: 'yyyy-mm-dd hh:ii',
        language:"zh-CN",
        minView:0,
        autoclose:true
    });
    $('.date').datetimepicker({
        format: 'yyyy-mm-dd',
        language:"zh-CN",
        minView:2,
        autoclose:true
    });	
    showTab();
});
</script> 
{/block}
