{extend name="publics/base" /}

{block name="body"}
<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
    <div class="main-title cf">
        <h2>编辑{$nav_title}菜单</h2>
    </div>
    <!-- 标签页导航 -->
<div class="tab-wrap">

    <div class="tab-content">
    <!-- 表单 -->
    {php} isset($post_url) || $post_url = U('edit?model='.$model['id']);{/php}
    <form id="form" action="{$post_url}" method="post" class="form-horizontal">

            {volist name="fields" id="field"}
                {if condition="$field['is_show'] == 4"}
                <input type="hidden" class="text input-large" name="{$field.name}" value="{$data[$field['name']]}">
                {/if}
                {if condition="$field['is_show'] == 1 || $field['is_show'] == 3 || ($field['is_show'] == 5 && I($field['name']) )"}
                  <div class="form-item cf toggle-{$field.name}">
                    <label class="item-label">
                    {notempty name="field.is_must"}<span class="need_flag">*</span>{/notempty}
                    {$field['title']}
                    <span class="check-tips">
                      {notempty name="field['remark']"}（{$field['remark']|raw}）{/notempty}
                      </span></label>
                    <div class="controls">
                        {switch name="field.type"}
                            {case value="num"}
                          <input type="number" class="text input-large" name="{$field.name}" value="{$data[$field['name']]}">
                            {/case}
                            {case value="string"}
                                <input type="text" class="text input-large" name="{$field.name}" value="{$data[$field['name']]}">
                            {/case}
                            {case value="textarea"}
                                <label class="textarea input-large">
                                <textarea name="{$field.name}">{$data[$field['name']]}</textarea>
                                </label>
                            {/case}
                        {case value="datetime"}
                          <input type="datetime" name="{$field.name}" class="text input-large time" value="{$data[$field['name']]|time_format}" placeholder="请选择时间" />
                        {/case}
                        {case value="date"}
                          <input type="datetime" name="{$field.name}" class="text input-large date" value="{$data[$field['name']]|time_format='Y-m-d'}" placeholder="请选择时间" />
                        {/case}
                        {case value="bool"}
                          <select name="{$field.name}">
                            {volist name=":parse_field_attr($field['extra'])" id="vo"} <option value="{$key}" class="toggle-data" toggle-data="{$vo|get_hide_attr}"
                              {eq name="data[$field['name']]" value="$key"}selected{/eq}
                              >{$vo|clean_hide_attr}
                              </option>
                            {/volist}
                          </select>
                        {/case}
                        {case value="select"}
                          <select name="{$field.name}">
                            {volist name=":parse_field_attr($field['extra'])" id="vo"} <option value="{$key}" class="toggle-data" toggle-data="{$vo|get_hide_attr}"
                              {eq name="data[$field['name']]" value="$key"}selected{/eq}
                              >{$vo|clean_hide_attr}
                              </option>
                            {/volist}
                          </select>
                        {/case}
                        {case value="cascade"}
                        
                        {:W('common/cascade/cascade', array('name'=>$field['name'],'value'=>$data[$field['name']],'extra'=>$field['extra']))}
                        {/case}
                        {case value="dynamic_select"}
                        
                        {:W('common/dynamic_select/dynamic_select', array('name'=>$field['name'],'value'=>$data[$field['name']],'extra'=>$field['extra']))}
                        {/case}
                        {case value="dynamic_checkbox"}
                        
                        {:W('common/dynamic_checkbox/dynamic_checkbox', array('name'=>$field['name'],'value'=>$data[$field['name']],'extra'=>$field['extra']))}
                        {/case}
                        {case value="radio"}
                          {volist name=":parse_field_attr($field['extra'])" id="vo"}
                          	<div class="check-item">
							<!--[if !IE]><!-->
								  <input type="radio" class="regular-radio toggle-data" value="{$key}" id="{$field.name}_{$key}" name="{$field.name}" toggle-data="{$vo|get_hide_attr}"
								  {eq name="data[$field['name']]" value="$key"}checked="checked"{/eq} />
								  <label for="{$field.name}_{$key}"></label>{$vo|clean_hide_attr}
							  <!--<![endif]-->
							   <!--[if IE]>
							       <input type="radio" value="{$key}"
								   id="{$field.name}_{$key}" name="{$field.name}" class="toggle-data" toggle-data="{$vo|get_hide_attr}"
								  {eq name="data[$field['name']]" value="$key"}checked="checked"{/eq}/>
								  <label for="{$field.name}_{$key}"></label>{$vo|clean_hide_attr}
							   <![endif]-->
                             </div>
                          {/volist}
                        {/case}
                        {case value="checkbox"}
                          {volist name=":parse_field_attr($field['extra'])" id="vo"}
                          	<div class="check-item">
                              <input type="checkbox" class="regular-checkbox toggle-data" value="{$key}" id="{$field.name}_{$key}" name="{$field.name}[]" toggle-data="{$vo|get_hide_attr}"
                              {in name="key" value="$data[$field['name']]" }checked="checked"{/in} >
                              <label for="{$field.name}_{$key}"></label>{$vo|clean_hide_attr}
                             </div>
                          {/volist}
                        {/case}
                        {case value="editor"}
                          <label class="textarea">
                            <textarea name="{$field.name}" style="width:405px; height:100px;">{$data[$field['name']]}</textarea>
                            {:W('common/editor/adminArticleEdit', array('name'=>$field['name'],'value'=>$data[$field['name']]))} </label>
                        {/case}
                        {case value="picture"}
                          <div class="controls uploadrow2" data-max="1" title="点击修改图片" rel="{$field.name}">
                            <input type="file" id="upload_picture_{$field.name}">
                            <input type="hidden" name="{$field.name}" id="cover_id_{$field.name}" value="{$data[$field['name']]}"/>
                            <div class="upload-img-box">
                              {notempty name="data[$field['name']]"}
                                <div class="upload-pre-item2"><img width="100" height="100" src="{$data[$field['name']]|get_cover_url}"/></div>
                                <em class="edit_img_icon">&nbsp;</em>
                              {/notempty}
                            </div>
                          </div>
                        {/case}
                        {case value="file"}
                          <div class="controls upload_file" rel="{$field.name}">
                            <input type="file" id="upload_file_{$field.name}">
                            <input type="hidden" name="{$field.name}" value="{$data[$field['name']]}"/>
                            <div class="upload-img-box">
                              {present name="data[$field['name']]"}
                                <div class="upload-pre-file"><span class="upload_icon_all"></span>{$data[$field['name']]|get_table_field=###,'id','name','File'}</div>
                              {/present}
                            </div>
                          </div>

                        {/case}
                            {default /}
                            <input type="text" class="text input-large" name="{$field.name}" value="{$data[$field['name']]}">
                        {/switch}
                    </div>
                </div>
                {/if}
            {/volist}

        <div class="form-item cf">
            <input type="hidden" name="id" value="{$data.id|default=0}">
            <button class="btn submit-btn ajax-post hidden" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <a class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</a>
        </div>
    </form>
    </div>
</div>
{/block}

{block name="script"}
<link href="__STATIC__/datetimepicker/css/datetimepicker.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
{php}if(config('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">';{/php}
<link href="__STATIC__/datetimepicker/css/dropdown.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js?v={:SITE_VERSION}" charset="UTF-8"></script>
<script type="text/javascript">
$('#submit').click(function(){
    $('#form').submit();
});

$(function(){
	 initUploadImg();
	initUploadFile();
	 })
$(function(){    $('.time').datetimepicker({
        format: 'yyyy-mm-dd hh:ii',
        language:"zh-CN",
        minView:0,
        autoclose:true
    });
    $('.date').datetimepicker({
        format: 'yyyy-mm-dd',
        language:"zh-CN",
        minView:2,
        autoclose:true
    });
    showTab();

	$('.toggle-data').each(function(){
		var data = $(this).attr('toggle-data');
		if(data=='') return true;

	     if($(this).is(":selected") || $(this).is(":checked")){
			 change_event(this)
		 }
	});

	//$('.toggle-data').bind("click",function(){ change_event(this) });
	$('select').change(function(){
		$('.toggle-data').each(function(){
			var data = $(this).attr('toggle-data');
			if(data=='') return true;

			 if($(this).is(":selected") || $(this).is(":checked")){
				 change_event(this)
			 }
		});
	});
});
</script>
{/block}
