@charset "utf-8";
/* CSS Document */
html{ height:100%;}
body{ min-height:100%; background:#27b7b8;}
.container{ background:#2d7ebd}
.copyright{ color:#444}
@-webkit-keyframes rotate {
      0% {
         -webkit-transform:rotate(0);
      }
      100% {
        -webkit-transform:rotate(359deg);
      }
    }
.rotate{ width:300px; height:300px; background:url(rotate.png) no-repeat; position:absolute; right:-100px; top:-70px; z-index:10; -webkit-animation-name:'rotate';-webkit-animation-duration:20s;-webkit-animation-iteration-count:infinite;webkit-animation-timing-function:ease-in}
.top{ background:url(top.png) repeat-x; height:53px; background-size:458px 52px; position:relative; z-index:100}
.bottom{ background:url(bottom.png) repeat-x; background-size:458px 73px; height:53px; padding-top:20px}
.lead_box{ margin:0 20px; padding:10px 0; position:relative; z-index:100}
.lead_box h6{color:#fff;font-size:24px;line-height:40px; padding:20px 20px 10px 20px;}
.lead_content{color:#fff; font-size:16px; padding:15px;}
.lead_btn{ border-radius:30px;
 background:-webkit-linear-gradient(top,#27b7b8,#119798);
 background:-moz-linear-gradient(top, #27b7b8, #119798);
 background:linear-gradient(top, #27b7b8, #119798); 
 -moz-box-shadow:0 1px 2px #077a7b;
 -webkit-box-shadow:0 1px 2px #077a7b;
 box-shadow:0 1px 2px #077a7b; 
 padding:10px; color:#fff; width:200px; margin:20px auto 20px; display:block; text-align:center; font-size:20px; position:relative; border:none}
.lead_btn:active{ background-color:#333333}
.lead_btn:active span.next_arr em{ background-color:#333333}
input[type='text'],input[type='tel'],select,textarea{ border:1px solid #1a6198; background:#c5e3fa}
.check-tips{ color:#c7210b}
.lead_box .do h6{ border:none; text-shadow:none; color:#333; margin-bottom:10px}
.lead_box .do{ border:none}
.radio,.checkbox{ display:block; margin:0; text-align:left; border:1px solid #ccc; background:#dad8d8}
.do .form-item{}
.w_tips{ padding:10px 0; color:#fff; font-size:14px;}
span.next_arr{ height:45px; width:20px; overflow:hidden; position:absolute; top:0; right:-16px;}
span.next_arr em{ height:26px; width:26px; background:#352c3a; -webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);transform:rotate(45deg); position:absolute; left:-12px; top:8px; -moz-box-shadow:1px 1px 1px #6c6570;-webkit-box-shadow:1px 1px 1px #6c6570;box-shadow:1px 1px 1px #6c6570;}
.lead_over{ padding:10px 30px; font-size:16px; text-align:center}
.share_btn{ border-radius:24px; height:40px; width:200px; 
line-height:40px; border:2px solid #090; color:#060; text-align:center; display:block; margin:20px auto;}
.intro{ background-color:#2775b1; border-radius:10px; padding:10px;}
.test_result{ font-size:30px; line-height:40px; display:block}
 
