{extend name="common@base/common" /}
{block name="body"}
<style type="text/css">
    .btn.setting_remark{
        margin: 0 .5em;
    }
    .li_main img{
        width:70px;
        height:70px;
        margin-right: 10px;
    }
    .li_bottom>div{
        float: right;
        margin-right:2em;
    }
    .status>a:not(.border-btn){
        margin-right:1em;
    }
</style>
  <div class="span9 page_message">
    <section id="contents">
      {include file="common@base/_nav" /}

        <ul class="tab-nav nav">            
            <li id="1"><a  href="{:U('lists',array('status'=>1))}">待支付<span class="arrow fa fa-sort-up"></span></a></li>
            <li id="2"><a  href="{:U('lists',array('status'=>2))}">已支付<span class="arrow fa fa-sort-up"></span></a></li>
            <li id="3"><a  href="{:U('lists',array('status'=>3))}">待确认<span class="arrow fa fa-sort-up"></span></a></li>
            <li id="4"><a  href="{:U('lists',array('status'=>4))}">已完成<span class="arrow fa fa-sort-up"></span></a></li>
            <li id="5"><a  href="{:U('lists',array('status'=>5))}">退款<span class="arrow fa fa-sort-up"></span></a></li>
            <li id="0"><a  href="{:U('lists',array('status'=>0))}">全部<span class="arrow fa fa-sort-up"></span></a></li>
            <li><a href="{:U('shop/comment/lists')}">商品评价<span class="arrow fa fa-sort-up"></span></a></li>
        </ul>
        <div class="table-bar" style="padding: 0 .5em;">
      <div class="fl"> 
        <div class="tools">
        <a id="tools_{:SHOP_EVENT_TYPE}" class="btn active" href="{:U('lists',array('status'=>$status,'event_type'=>SHOP_EVENT_TYPE))}">商城下单</a>  
        <a id="tools_{:SECKILL_EVENT_TYPE}" class="btn active" href="{:U('lists',array('status'=>$status,'event_type'=>SECKILL_EVENT_TYPE))}">秒 杀</a>        
        <a id="tools_{:COLLAGE_EVENT_TYPE}"class="btn active" href="{:U('lists',array('status'=>$status,'event_type'=>COLLAGE_EVENT_TYPE))}">拼 团</a>        
        <a id="tools_{:HAGGLE_EVENT_TYPE}"class="btn active" href="{:U('lists',array('status'=>$status,'event_type'=>HAGGLE_EVENT_TYPE))}">砍 价</a>        
        </div>
        </div>

        <!-- 高级搜索 -->

        <div class="search-form fr cf">

          <div class="sleft">
          
            {php}empty($search_key) && $search_key=$model['search_key'];empty($search_key) && $search_key='title';unset($get_param[$search_key]);{/php}
            {php}if(isset( $get_param[$search_key]))unset( $get_param[$search_key]); $search_url = U('lists', $get_param); unset($get_param[$search_key]);{/php}
            
            <input type="text" name="{$search_key}" class="search-input" value="{:I($search_key)}" placeholder="{$placeholder}">
            <a class="sch-btn" href="javascript:;" id="search" url="{$search_url}"><i class="btn-search"></i></a> </div>
        </div>
{include file="goods/muti_search" /} 

      </div>

      <!-- 数据列表 -->
      <div class="data-table">
      <ul class="article_card_list">
              {volist name="list_data" id="data"}
                <li >
                  <div class="li_top" colspan="6">{if condition="$check_all"}<input class="ids regular-checkbox" type="checkbox" value="{$data['id']}" name="ids[]" id="check_{$data['id']}"><label for="check_{$data['id']}"></label>&nbsp;&nbsp;{/if}订单号 : {$data.order_number|raw} &nbsp;&nbsp;&nbsp;&nbsp;下单时间：{$data.cTime|time_format}&nbsp;&nbsp;&nbsp;&nbsp;{notempty name="data.pay_time"}付款时间：{$data.pay_time|time_format}
                  &nbsp;&nbsp;{/notempty}<span class="colorless">|</span>&nbsp;&nbsp;&nbsp;<span class="li_top_u"><img width="30" src="{$data.headimgurl}"/>{$data.uid|raw}</span>
                  </div>
                    <div class="li_main" style="display: flex;">
                        <table width="100%">
                            <tr>
                                <td style="width:20%;">商品</td>
                                <td>数量</td>

                            </tr>
                            {volist name="data.goods" id="g"}
                            <tr class="tab_body">
                                <td>{$g.goods_title|raw}</td>
                                <td>x{$g.num}</td>

                            </tr>
                            {/volist}
                        </table>
                    </div>
                    <div class="li_bottom" style="overflow: hidden;line-height: 2.5em;padding-bottom: 10px;">
                        <div class="status"style="margin-right:1em">{$data.action|raw}
                        </div>
                        <div class="total_price" style="=">{eq name="data.pay_type" value="90"}{$data.total_price}积分{else/}总价：¥{:wp_money_format($data['total_price']+$data['mail_money'])}{/eq}
                            {notempty name="data.event_type"}
                            <span class="red_text_bg" style="width: 10%">{$data.event_type}</span>
                            {/notempty}
                        </div>
                        <div class="num">件数：x{$data.num}</div>

                        <div class="status_name" style="display:inline-flex">状态：
                            {$data.status_code_name}
                            <span style="color: #A7A4A7; display: block; ">
                      		{if condition="$data['order_state'] eq 1"}
                      			（正常）
                      		{elseif condition="$data['order_state'] eq 2" /}
                      			（支付异常）
                      		{else/}
                      			（关闭）
                      		{/if}
                      	</span>
                        </div>
                    </div>
                </li>
          <br>
              {/volist}
      </ul>
      </div>
      <div class="page"> {$_page|raw|default=''} </div>
    </section>
  </div>
<div class="audit_refund_html" style="display:none">
    <div class="manage_group normal_dialog">
        <div class="content">
                <div>
                        <p class="audit_content"></p>
                </div>
                        </div>

    </div>
    <div class="btn_wrap" style="text-align: center"><button class="btn setting_remark " onclick="audit_refund(2)" >退款</button><button class="btn setting_remark active"  onclick="audit_refund(3)">拒绝退款</button></div>

</div>  
{/block}
{block name="script"}
<script type="text/javascript">
$(document).ready(function () {
	var status = "{$status}"
	$("#"+status).addClass("current");
});
var refund_id = 0
$(function(){
	var event_type = "{$event_type}"
    $('#tools_'+event_type).removeClass('active');

	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
        var query  = $('.search-form').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
        if(query == '' ){
			url="{:U('lists')}";
        }
		url = change_search_url(url);
		window.location.href = url;
	});

    //回车自动提交
    $('.search-form').find('input').keyup(function(event){
        if(event.keyCode===13){
            $("#search").click();
        }
    });

    $(".btn-small").each(function(){
    	var url = $(this).attr('data-href');
    	var state=$(this).attr('data-ostate');
    	$(this).click(function(){
    		if(state != 1){
    			if(confirm('该订单状态有异常，是否继续？')){
    				window.location.href=url;
    			}
    		}else{
    			window.location.href=url;
    		}
    	});
    });
	//高级搜索
    $(".audit_refund").click(function(){
		refund_id = $(this).attr('rel')
		var refund_content = $(this).attr('data-content')

        var html = $($('.audit_refund_html').html());
		
		
		$('.audit_content', html).html(refund_content)		
		
        $.Dialog.open('审核退款',{width:400,height:200},html);
    });
})

function audit_refund(status){
	var url = "{:U('audit_refund')}"
	$.post(url,{refund_id:refund_id,status:status},function(res){
		if(res.code==1){
			updateAlert(res.msg + ' 页面即将自动刷新~', 'alert-success');
			window.location.href=window.location.href;
		}else{
			updateAlert(res.msg);
		}		
	})
}
</script>
{/block}
