@charset "utf-8";
/* CSS Document by jacy use in weisite */
html{ height:100%;}
body{ min-height:100%;}
.container{ background:none}
header{ text-align:center}
.banner{ width:100%; overflow:hidden; position:relative;}
.banner ul{ position:absolute; left:0; top:0; z-index:10; -webkit-animation:}
.banner ul li{ float:left; display:table-cell}
.banner li a{ width:100%; height:100%; display:block;}
.identify{text-align:center; position:absolute; bottom:0; left:0; z-index:100; width:100%; height:30px;background-color:RGBA(0,0,0,.5)}
.identify em{ display:inline-block; margin:10px;-webkit-border-radius: 6px;-moz-border-radius: 6px;
border-radius: 6px;margin-left: 5px;width: 12px;height: 12px;background: #fff;}
.identify em.cur{ background-color:#090}
.icon_lists{ margin:100px auto 30px;}
.icon_lists .item,.icon_lists .item:active,.icon_lists .item:visited{ background-color:RGBA(0,0,0,.5); border-radius:10px; float:none;padding:8px 15px;color:#fff; display:inline-block;white-space:nowrap;}
.icon_lists .item img{ vertical-align:-6px; height:24px; width:24px;}
.icon_lists .item .icon{ display:inline-block; margin:0; width:30px; height:30px; vertical-align:middle}
.icon_lists li{ overflow:hidden; zoom:1; text-align:center}