// 颜色
$yellow: #ffb506;
$red: #ff0204;
$black: #333;
$white: #fff;
$violet: #341854;
$green: #09bb07;

$golden: #e9c27d;

$gray: #aaa;
$light-gray: #f0f0f0;
$dary-gray: #b2b2b2;

$link-color: #0264af;
$link-color-active: #ECECEC;
$body-bg: #f9f9f9;

// 边框色
$b-color: #ececec;

// 按钮渐变
$gradient: linear-gradient(90deg, #ff0204 60%, #ffb3b3); 


// 边距
$box-size: 15px;

$imgRoot: 'https://leyao.tv/yi/images'

