/**
* 页面重置
*/
page {
  color: #333;
  background: #f9f9f9;
  font-size: 18px;
}
image {
  max-width: 100%;
  display: inline-block;
}
button,view
scroll-view,
.van-cell {
  &:before,
  &:after {border: 0}
}

/**
* 清除Vant UI样式
*/

page {
  // 加减
  .van-stepper__minus,
  .van-stepper__plus {
    width: 30px !important;
  }
  .van-stepper__minus {
    border-radius: 15px 0 0 15px !important;
    border-right: 0 !important;
  }
  .van-stepper__plus {
    border-radius: 0 15px 15px 0 !important;
    border-left: 0 !important;
  }
  .van-stepper__minus--disabled,
  .van-stepper__plus--disabled {
    opacity: .5;
  }

  // checkbox
  ._van-checkbox {
    display: flex;
    align-items: center;
  }
  .van-radio__icon--checked {color: $red}
  .van-checkbox__icon--checked {
    border-color: $red;
    background-color: $red;
  }
  .van-checkbox__label {margin-left: 5px;}
  /**
  * 清除WeUI 样式
  */

  // 红点
  .weui-badge {
    padding: 6px 12px;
  }
}





/**
* 清除微信小程序原生组件样式
*/

// 轮播
swiper-item image {
  width: 100%;
  height: 160px;
}